@import "style";


.paymentContent {
    padding-left: 0px;
    padding-right: 0px;

    @include br-up(sm) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @include br-up(xl) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .left-side {
        padding: 48px 64px 48px 48px;

        @include br-down(lg) {
            padding: 48px 48px 48px 48px;
        }

        @include br-down(md) {
            padding: 48px 32px 48px 32px;
        }

        @include br-down(sm) {
            padding: 48px 20px 48px 20px;
        }


        .header-payment {
            margin-bottom: 54px;

            .title {
                font-family: 'Gilroy-Bold';
                font-size: 22px;
                line-height: 112%;
                text-align: center;
                color: #000000;
                margin-bottom: 0px;
                margin-left: 16px;
            }

            .language-select {
                margin-right: 100px;

                @include br-down(xl) {
                    margin-right: 50px;
                }

                @include br-down(lg) {
                    margin-right: 0px;
                }

                select {
                    background-color: #038090;
                    border-radius: 100px;
                    padding: 8px 30px 8px 20px;
                    font-family: 'Gilroy-Bold';
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88094 6L0.941406 0H10.8205L5.88094 6Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-size: 12px;
                }
            }
        }

        .client-details {
            margin-bottom: 58px;

            .client-logo {
                width: 88px;
                height: 88px;
                flex-shrink: 0;
                margin-right: 32px;

                @include br-down(lg) {
                    width: 80px;
                    height: 80px;
                    margin-right: 20px;
                }

                @include br-down(sm) {
                    width: 56px;
                    height: 56px;
                    margin-right: 16px;
                }
            }

            .details-input {
                width: 100%;

                .mb-32px {
                    margin-bottom: 32px;
                }

                .input-box {
                    position: relative;

                    .input-icon {
                        width: 24px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        margin: 1rem .75rem;
                        color: #C4C4C4;
                    }

                    .form-floating {

                        label {
                            font-family: 'Nunito', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 116%;
                            color: #A5A3A9;
                            padding: 1.3rem 3rem;
                        }

                        .form-control {
                            font-family: 'Nunito', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 112%;
                            letter-spacing: 0.02em;
                            color: #1D1929;
                            padding: 1rem 3rem 0.2rem 3rem;

                            &:focus {
                                border: 1px solid #038090;
                                border-radius: 5px;
                                box-shadow: none;
                            }
                        }
                    }

                    .form-floating>.form-control:focus~label,
                    .form-floating>.form-control:not(:placeholder-shown)~label,
                    .form-floating>.form-select~label {
                        transform: scale(.85) translateY(-.5rem) translateX(.5rem);
                    }

                    .form-floating>.form-control:focus~svg,

                    .form-floating>.form-select~svg {
                        color: #038090;
                    }

                }
            }
        }

        .projects {
            padding-bottom: 200px;

            .project-header {
                margin-bottom: 28px;

                .bar {
                    width: 4px;
                    height: 40px;
                    background: #EE628F;
                    border-radius: 30px;
                    margin-right: 16px;
                }

                .title {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 130%;
                    color: #EE628F;
                    margin-bottom: 4px;

                }

                .sub-title {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 140%;
                    color: #757D8A;
                    margin-bottom: 0px;

                }
            }

            .project-list {
                max-height: 340px;

                .accordion-item {
                    border: 0px;

                    .accordion-header {
                        &.with-border {
                            background: rgba(194, 207, 224, 0.2);
                            border: 0.2px solid rgba(104, 122, 146, 0.1);
                        }

                        border-radius: 8px;
                        padding: 20px 28px 20px 36px;

                        @include br-down(md) {
                            padding: 20px;
                        }

                        .month {
                            background: #FFFFFF;
                            box-shadow: 0px 0px 50px -10px rgba(17, 24, 39, 0.2);
                            border-radius: 6px;
                            padding: 8px 14px;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            color: #345273;

                            @include br-down(lg) {
                                font-size: 14px;
                            }

                            @include br-down(sm) {
                                font-size: 12px;
                                padding: 8px 10px;
                            }
                        }

                        .product {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #687A92;
                            margin-bottom: 0px;

                            @include br-down(md) {
                                font-size: 12px;
                            }
                        }



                        .dropdown-tool {
                            position: relative;

                            .toggle-btn {
                                background: #328090;
                                border-radius: 4px;
                                padding: 8px 14px;
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 17px;
                                color: #FFFFFF;
                                position: relative;


                                @include br-down(md) {
                                    font-size: 12px;
                                    padding: 8px 10px;
                                }

                                &::after {
                                    display: none;
                                }
                            }

                            .pop-tool {
                                background: #334155;
                                border-radius: 12px;
                                width: 423px;
                                padding: 16px 40px 20px 20px;
                                transform: translateX(-38%) translateY(40px);
                                top: 0;
                                position: absolute;
                                display: none;
                                z-index: 99999 !important;

                                .top-icon {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: -8px;
                                    pointer-events: none;
                                }

                                .title {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 30px;
                                    letter-spacing: 0.0125em;
                                    text-transform: capitalize;
                                    color: #FFFFFF;
                                    margin-bottom: 14px;
                                }

                                .border-dot {
                                    width: 16px;
                                    height: 16px;
                                    border: 1.88322px solid rgba(255, 255, 255, 0.56);
                                    border-radius: 320px;
                                    flex-shrink: 0;
                                    margin-right: 15px;
                                }

                                .bg-purple {
                                    background: #9B59B6;
                                }

                                .bg-green {
                                    background: #1ABC9C;
                                }

                                .bg-blue {
                                    background: #00BCD4;
                                }

                                .bg-orange {
                                    background: #E67E22;
                                }

                                .text-title {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 25px;
                                    color: #D1D1D1;
                                    margin-bottom: 0px;
                                }

                                .text-price {
                                    font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 34px;
                                    color: #EE628F;
                                    margin-bottom: 0px;
                                    margin-left: auto;
                                }

                                .mb-20px {
                                    margin-bottom: 20px;
                                }
                            }
                        }

                        .dropdown-tool:hover .pop-tool {
                            display: block;
                            margin-top: 0;
                        }
                    }

                    .accordion-body {
                        padding: 0px;
                        max-height: 340px;
                        overflow-y: auto;

                        thead {
                            tr th {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 10px;
                                line-height: 12px;
                                color: #183555;
                                padding: 16px 24px;
                                background: rgba(215, 227, 238, 0.5);
                                box-shadow: inset 0px -1px 0px #EDF2F7;
                                border-bottom: 0px;
                                white-space: nowrap;
                                text-align: left;
                            }
                        }

                        .mtn {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 12px;
                            line-height: 15px;
                            color: #183555;
                            padding: 22px 16px 22px 30px;
                            border-right: 1px solid #E8ECF1;
                            border-bottom: 1px solid #E8ECF1;
                            white-space: nowrap;
                        }

                        .prod {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 25px;
                            color: #4F4F55;
                            padding: 12px 24px;
                            border-bottom: 1px solid rgba(232, 233, 235, 0.4);
                            border-left: 0px;
                            height: 64px;
                        }

                        .qty {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: right;
                            color: #000000;
                            padding: 12px 24px;
                            border-bottom: 1px solid rgba(232, 233, 235, 0.4);
                        }

                        .border-b-last {
                            border-bottom: 1px solid #E8ECF1;
                        }

                    }

                }
            }
        }


    }

    .right-side {
        background: #103558;
        border-radius: 5px 0px 0px 5px;
        min-height: 100vh;
        padding: 90px 20px 26px 20px;

        .step-tabs {
            .step-tab {
                font-family: 'Gilroy-Bold';
                font-size: 12px;
                line-height: 112%;
                text-align: center;
                letter-spacing: 0.14em;
                color: rgba(211, 210, 213, 0.31);
                display: flex;
                flex-direction: column;
                padding: 0px 2px;

                @include br-down(sm) {
                    font-size: 10px;
                }

                &.active {
                    color: #FFFFFF;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ED5485;
                    }
                }
            }

            .border-line {
                width: 60px;
                height: 1px;
                border-top: 1px dashed rgba(255, 255, 255, 0.4);

                @include br-down(lg) {
                    width: 40px;
                }

                @include br-down(sm) {
                    width: 28px;
                }
            }
        }

        .checkout-step {
            margin-top: 92px;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;

            .check-title {
                font-family: 'Gilroy-Bold';
                font-size: 16px;
                line-height: 112%;
                color: #FFFFFF;
                margin-bottom: 6px;

                @include br-down(md) {
                    font-size: 14px;
                }

                @include br-down(sm) {
                    font-size: 12px;
                }
            }

            .check-sub {
                font-family: 'Gilroy-Regular';
                font-size: 12px;
                line-height: 112%;
                color: #FFFFFF;
                margin-bottom: 26px;

                @include br-down(sm) {
                    font-size: 10px;
                    margin-bottom: 16px;
                }
            }

            .payment-sumry {
                font-family: 'Gilroy-Bold';
                font-size: 12px;
                line-height: 112%;
                color: #EE628F;
                margin-bottom: 16px;

                @include br-down(sm) {
                    font-size: 10px;
                    margin-bottom: 10px;

                }
            }

            .d-title {
                font-family: 'Gilroy-Light';
                font-size: 14px;
                line-height: 112%;
                color: #FFFFFF;
                margin-bottom: 0px;

                @include br-down(sm) {
                    font-size: 12px;
                }
            }

            .d-price {
                font-family: 'Gilroy-Medium';
                font-size: 14px;
                line-height: 112%;
                color: #FFFFFF;
                margin-bottom: 0px;

                @include br-down(sm) {
                    font-size: 12px;
                }
            }

            .mb-12px {
                margin-bottom: 12px;
            }

            .total-amount {
                padding-top: 12px;
                border-top: 0.3px solid rgba(255, 255, 255, 0.3);

                .d-title {
                    font-family: 'Gilroy-Medium';
                    font-size: 16px;
                    line-height: 112%;
                    color: #FFFFFF;

                    @include br-down(sm) {
                        font-size: 14px;
                    }
                }

                .d-price {
                    font-family: 'Gilroy-Medium';
                    font-size: 16px;
                    line-height: 112%;
                    color: #FFFFFF;
                }
            }

            .note-card {
                background: rgba(255, 255, 255, 0.1);
                border: 0.5px solid #FFFFFF;
                border-radius: 10px;
                padding: 14px 15px;
                margin-bottom: 32px;
                margin-top: 72px;

                .info-icon {
                    width: 20px;
                    margin-right: 10px;
                }

                .title {
                    font-family: 'Gilroy-Bold';
                    font-size: 14px;
                    line-height: 130%;
                    color: #FFFFFF;
                    margin-bottom: 0px;
                }

                .details {
                    list-style-type: decimal;
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 130%;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                    list-style-position: outside;
                    padding: 0px 18px;

                    @include br-down(sm) {
                        font-size: 12px;
                    }

                    li {
                        margin-bottom: 4px;
                    }

                }
            }

            .form-check2 {
                margin-bottom: 70px;

                input {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                    border: 1px solid white;
                    background: transparent;

                    &:checked {
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_1014_57615' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='19'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0.332031H16C17.11 0.332031 18 1.23203 18 2.33203V16.332C18 17.432 17.11 18.332 16 18.332H2C0.89 18.332 0 17.432 0 16.332V2.33203C0 1.23203 0.89 0.332031 2 0.332031ZM2 9.33203L7 14.332L16 5.33203L14.59 3.91203L7 11.502L3.41 7.92203L2 9.33203Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1014_57615)'%3E%3Crect x='-3' y='-2.66797' width='24' height='24' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }

                label {
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 112%;
                    color: #FFFFFF;
                }
            }

            .btn-payment {
                background: #EE628F;
                border-radius: 100px;
                padding: 16px 44px;
                font-family: 'Gilroy-Bold';
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                margin-bottom: 100px;
            }
        }

        .payment-step {
            margin-top: 56px;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;

            .title {
                font-family: 'Gilroy-Bold';
                font-size: 24px;
                line-height: 140%;
                color: #FFFFFF;
                margin-bottom: 18px;

                @include br-down(md) {
                    font-size: 18px;
                }
            }

            .p-d-title {
                font-family: 'Gilroy-Bold';
                font-size: 12px;
                line-height: 112%;
                color: #EE628F;
            }

            .d-tile {
                font-family: 'Gilroy-Medium';
                font-size: 16px;
                line-height: 112%;
                color: #FFFFFF;
                margin-bottom: 0px;

                @include br-down(md) {
                    font-size: 14px;
                }
            }

            .custom-check-box {
                .checkingBox {
                    max-width: 128px;
                    width: 100%;

                    input {
                        display: none;
                    }

                    .card-check {
                        background: #0E3757;
                        border: 1px solid rgba(171, 187, 194, 0.3);
                        border-radius: 8px;

                        padding: 12px 8px;
                        position: relative;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .card-icon {
                            width: 24px;
                            margin-bottom: 2px;
                            color: #768E9E;
                        }

                        .title {
                            font-family: 'Gilroy-Medium';
                            font-size: 14px;
                            line-height: 130%;
                            color: rgba(171, 187, 194, 0.66);
                            margin-bottom: 0px;
                        }

                        .check-icon {
                            position: absolute;
                            top: 6px;
                            right: 6px;
                            display: none;
                        }
                    }

                }

                .checkingBox input:checked+.card-check {
                    background: #284969;
                    border: 1px solid #ABBBC2;
                    border-radius: 8px;

                    .card-icon {
                        color: #FFFFFF;
                    }

                    .title {
                        color: #FFFFFF;
                    }

                    .check-icon {
                        display: block;
                    }

                }
            }

            .card-form {
                max-width: 450px;
                margin-bottom: 70px;

                .mb-28px {
                    margin-bottom: 28px;
                }

                .form-label {
                    font-family: 'Gilroy-Medium';
                    font-size: 14px;
                    line-height: 130%;
                    color: #FFFFFF;
                    margin-bottom: 8px;
                }

                .form-control {
                    background: #284969;
                    border-radius: 8px;
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 140%;
                    color: #E0E6E9;
                    padding: 14px;
                    border: 0px;

                    &::placeholder {
                        color: #E0E6E9;
                    }
                }

                .btn-payNow {
                    font-family: 'Gilroy-Bold';
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    text-align: center;
                    max-width: 244px;
                    width: 100%;
                    padding: 16px;
                    background: #EE628F;
                    border-radius: 100px;
                }

                .btn-back {
                    font-family: 'Gilroy-Bold';
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #FCFCFC;
                    max-width: 244px;
                    width: 100%;
                    padding: 16px;
                }
            }

            .payment-security {
                max-width: 350px;

                .security-icon {
                    width: 55px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 24px;
                }

                .payment-methods {
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    border-radius: 8px;
                    position: relative;
                    padding: 18px 30px;
                    width: 100%;

                    .title {
                        font-family: 'Gilroy-Medium';
                        font-size: 14px;
                        line-height: 180%;
                        text-align: center;
                        letter-spacing: 0.13em;
                        color: #F0FCFF;
                        padding: 2px 30px;
                        background: #103558;
                        position: absolute;
                        top: 0px;
                        left: 0;
                        right: 0;
                        max-width: 300px;
                        margin-left: auto;
                        margin-right: auto;
                        transform: translateY(-50%);
                    }

                    .icon {
                        min-height: 34px;
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                }
            }

        }

        .confirm-step {
            .success {
                max-width: 500px;
                margin-top: 74px;
                margin-bottom: 48px;

                .check-icon {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 32px;

                    @include br-down(md) {
                        width: 40px;
                        height: 40px;
                        ;
                    }

                    @include br-down(sm) {
                        width: 36px;
                        height: 36px;
                    }
                }

                .title {
                    font-family: 'Gilroy-Bold';
                    font-size: 24px;
                    line-height: 112%;
                    text-align: center;
                    letter-spacing: 0.14em;
                    color: #FFFFFF;
                    margin-bottom: 20px;

                    @include br-down(lg) {
                        font-size: 20px;
                    }

                    @include br-down(sm) {
                        font-size: 18px;
                    }
                }

                .payment-details {
                    margin-bottom: 40px;

                    .title {
                        font-family: 'Gilroy-Regular';
                        font-size: 16px;
                        line-height: 112%;
                        text-align: center;
                        letter-spacing: 0.14em;
                        color: #FFFFFF;
                        margin-bottom: 8px;

                        @include br-down(md) {
                            font-size: 14px;
                        }

                        @include br-down(sm) {
                            font-size: 12px;
                        }
                    }

                    .details {
                        font-family: 'Gilroy-Bold';
                        font-size: 16px;
                        line-height: 112%;
                        text-align: center;
                        letter-spacing: 0.14em;
                        color: #ED5485;
                        margin-left: 4px;
                        margin-bottom: 8px;

                        @include br-down(md) {
                            font-size: 14px;
                        }

                        @include br-down(sm) {
                            font-size: 12px;
                        }
                    }
                }

                .c-details {
                    font-family: 'Gilroy-Bold';
                    font-size: 14px;
                    line-height: 112%;
                    letter-spacing: 0.14em;
                    color: #FFFFFF;
                }

                .important-card {
                    background: rgba(255, 255, 255, 0.1);
                    border: 0.5px solid #FFFFFF;
                    border-radius: 10px;
                    padding: 24px 24px 18px 24px;
                    margin-bottom: 100px;

                    .info-icon {
                        width: 20px;
                        margin-right: 10px;
                    }

                    .title {
                        font-family: 'Gilroy-Bold';
                        font-size: 14px;
                        line-height: 130%;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        margin-bottom: 0px;
                    }

                    .details {
                        font-family: 'Gilroy-Medium';
                        font-size: 14px;
                        line-height: 130%;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;

                    }

                    .btn-client {
                        font-family: 'Gilroy-Medium';
                        font-size: 14px;
                        line-height: 130%;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                        padding: 4px 8px;
                        background: #ED5485;
                        border-radius: 3px;
                    }
                }

                .btn-alright {
                    font-family: 'Gilroy-Bold';
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #FFFFFF;
                    background: #EE628F;
                    border-radius: 100px;
                    padding: 16px 64px;
                }
            }

            .error {
                .error-box {
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;

                    .dt-icon {
                        width: 58px;
                        height: 58px;
                        margin-bottom: 40px;

                        @include br-down(md) {
                            width: 48px;
                            height: 48px;
                            ;
                        }

                        @include br-down(sm) {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .title {
                        font-family: 'Gilroy-Bold';
                        font-size: 24px;
                        line-height: 112%;
                        text-align: center;
                        letter-spacing: 0.14em;
                        color: #FFFFFF;
                        margin-bottom: 24px;
                    }

                    .details {
                        font-family: 'Gilroy-Medium';
                        font-size: 14px;
                        line-height: 152%;
                        text-align: center;
                        letter-spacing: 0.14em;
                        color: #FFFFFF;
                        margin-bottom: 56px;
                    }

                    .btn-try {
                        font-family: 'Gilroy-Bold';
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        color: #EE628F;
                        padding: 16px 85px;
                        background: #FFFFFF;
                        border-radius: 100px;
                    }
                }
            }

            .payment-security {
                max-width: 350px;


                .security-icon {
                    width: 55px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 24px;
                }

                .payment-methods {
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    border-radius: 8px;
                    position: relative;
                    padding: 18px 30px;
                    width: 100%;

                    .title {
                        font-family: 'Gilroy-Medium';
                        font-size: 14px;
                        line-height: 180%;
                        text-align: center;
                        letter-spacing: 0.13em;
                        color: #F0FCFF;
                        padding: 2px 30px;
                        background: #103558;
                        position: absolute;
                        top: 0px;
                        left: 0;
                        right: 0;
                        max-width: 300px;
                        margin-left: auto;
                        margin-right: auto;
                        transform: translateY(-50%);

                        @include br-down(sm) {
                            font-size: 12px;
                            padding: 2px 10px;
                            max-width: 250px;
                        }
                    }

                    .icon {
                        min-height: 34px;
                        margin-left: 16px;
                        margin-right: 16px;

                        @include br-down(sm) {
                            min-height: 26px;
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}