@import "style";


.paymentContent {
    padding-left: 0px;
    padding-right: 0px;

    @include br-up(sm) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @include br-up(xl) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .left-side {
        padding: 48px 64px 48px 48px;

        @include br-down(lg) {
            padding: 48px 48px 48px 48px;
        }

        @include br-down(md) {
            padding: 48px 32px 48px 32px;
        }

        @include br-down(sm) {
            padding: 48px 20px 48px 20px;
        }


        .header-payment {
            margin-bottom: 54px;

            .title {
                font-family: 'Gilroy-Bold';
                font-size: 22px;
                line-height: 112%;
                text-align: center;
                color: #000000;
                margin-bottom: 0px;
                margin-left: 16px;
            }

            .language-select {
                margin-right: 100px;

                @include br-down(xl) {
                    margin-right: 50px;
                }

                @include br-down(lg) {
                    margin-right: 0px;
                }

                select {
                    background-color: #038090;
                    border-radius: 100px;
                    padding: 8px 30px 8px 20px;
                    font-family: 'Gilroy-Bold';
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.88094 6L0.941406 0H10.8205L5.88094 6Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-size: 12px;
                }
            }
        }

        .client-details {
            .client-logo {
                width: 88px;
                height: 88px;
                flex-shrink: 0;
                margin-right: 32px;

                @include br-down(lg) {
                    width: 80px;
                    height: 80px;
                    margin-right: 20px;
                }

                @include br-down(sm) {
                    width: 56px;
                    height: 56px;
                    margin-right: 16px;
                }
            }

            .details-input {
                width: 100%;

                .mb-32px {
                    margin-bottom: 32px;
                }

                .input-box {
                    position: relative;

                    .input-icon {
                        width: 24px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        margin: 1rem .75rem;
                        color: #C4C4C4;
                    }

                    .form-floating {

                        label {
                            font-family: 'Nunito', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 116%;
                            color: #A5A3A9;
                            padding: 1.3rem 3rem;
                        }

                        .form-control {
                            font-family: 'Nunito', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 112%;
                            letter-spacing: 0.02em;
                            color: #1D1929;
                            padding: 1rem 3rem 0.2rem 3rem;

                            &:focus {
                                border: 1px solid #038090;
                                border-radius: 5px;
                                box-shadow: none;
                            }
                        }
                    }

                    .form-floating>.form-control:focus~label,
                    .form-floating>.form-control:not(:placeholder-shown)~label,
                    .form-floating>.form-select~label {
                        transform: scale(.85) translateY(-.5rem) translateX(.5rem);
                    }

                    .form-floating>.form-control:focus~svg,

                    .form-floating>.form-select~svg {
                        color: #038090;
                    }

                }
            }
        }


    }

    .right-side {
        background: #103558;
        border-radius: 5px 0px 0px 5px;
        min-height: 100vh;
    }
}