@import "style";


.content {
    padding-top: 30px;
    padding-bottom: 130px;
    background: #F6F9FC;

    .header-name {
        background: #FFFFFF;
        padding: 40px 40px 24px 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #EDF2F7;

        .h-title {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #084279;
        }
    }

    .btn-outline {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #4F4F55;
        padding: 14px 36px;
        border: 1px solid #C4CACF;
        border-radius: 6px;
    }

    .btn-Save {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 14px 36px;
        background: #31B997;
        margin-left: 32px;
    }

    .first-content-box {
        background: #FFFFFF;
        padding: 48px 20px 40px 20px;

        @include br-up(lg) {
            padding: 68px 68px 40px 40px;
        }

        .form-label {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
            margin-right: 20px;
            white-space: nowrap;
        }

        .form-select {
            background-color: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 6px;
            padding: 10px 14px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #344054;
        }

        @include br-up(xl) {
            .form-label {
                margin-right: 50px;
            }
        }

        .mb-60px {
            margin-bottom: 30px;
        }

        @include br-up(lg) {
            .mb-60px {
                margin-bottom: 60px;
            }
        }

        .form-label-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 38px;
            color: #425466;
            margin-bottom: 8px;
        }



    }

    .project-info-box {
        background: #FFFFFF;
        padding: 30px 20px 94px 20px;
        margin-top: 40px;

        @include br-up(lg) {
            padding: 30px 40px 94px 40px;

        }

        .h-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #101828;
            margin-bottom: 32px;
        }

        .form-label {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 38px;
            color: #425466;
        }

        .form-input {
            background: #FFFFFF;
            border: 1px solid #E8ECF1;
            border-radius: 6px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 38px;
            padding: 10px 20px;

            &::placeholder {
                color: #B5B5BD;
            }
        }

        .mb-40px {
            margin-bottom: 40px;
        }

        .mb-60px {
            margin-bottom: 60px;
        }

        .files {
            padding-bottom: 20px;
            border-bottom: 1px solid #F0F0F0;
        }

        .file-icon {
            background: #FFFFFF;
            border: 1px solid #F0F0F0;
            border-radius: 4px;
            padding: 8px;
            flex-shrink: 0;
            margin-right: 10px;
        }

        .file-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 0px;
        }

        .file-date {
            font-weight: 400;
            font-size: 11px;
            line-height: 18px;
            color: #A7B0BA;
            margin-bottom: 0px;
        }

        .project-header {
            margin-bottom: 12px;

            .h-sub {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #667085;
                margin-bottom: 20px;
            }

            .h-title {
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #101828;
                margin-bottom: 4px;
            }

            hr {
                background-color: #E4E7EC;
                opacity: 1;
            }

            .btn-edit {
                border: 1px solid #555657;
                border-radius: 6px;
                padding: 18px 24px;
                font-weight: 600;
                font-size: 16px;
                line-height: 12px;
                color: #16192C;
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                }
            }

        }


        .projectItemsBox {
            padding: 28px;
            background: #F5F8FB;
            box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.03);
            border-radius: 8px;
            // margin-bottom: 28px;

            .bg-indigo {
                background: #623CE7;
            }

            .bg-yellow {
                background-color: #FFAF2A;
            }

            .p-tile-area {
                margin-right: 16px;
                margin-bottom: 35px;

                .items-icon {
                    width: 52px;
                    height: 52px;
                    border-radius: 99999px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    margin-right: 20px;
                }

                .p-title {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    margin-bottom: 5px;
                    color: #000000;
                }

                .p-qty {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 0px;
                    color: #31B997;
                }

                @include br-down(xl) {
                    .items-icon {
                        width: 44px;
                        height: 44px;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .p-title {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 0px;
                    }

                    .p-qty {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }

            .p-date-area {
                margin-right: 16px;

                .p-icon {
                    width: 14px;
                    margin-right: 8px;
                }

                .p-date {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #8A8B8E;

                    @include br-up(xl) {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }

            .p-price {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #EE628F;
                margin-right: 16px;

                @include br-up(xl) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }

            .p-commitment {
                .i-circle {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }

                .form-label {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #8A8B8E;
                    margin-right: 16px;

                    @include br-up(xl) {
                        font-size: 20px;
                        line-height: 24px;
                        margin-right: 28px;
                    }
                }

                .form-check2 {
                    .form-check-input {
                        width: 40px;
                        height: 22px;
                    }
                }
            }

            .itemsBoxArea {
                padding-left: 6px;
                padding-right: 6px;
                background: #FFFFFF;
                border-radius: 4px;
                margin-bottom: 14px;

                @include br-up(md) {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                hr {
                    background: #E4E7EC;
                    opacity: 1;
                }

                .item-box {
                    padding: 20px 8px;

                    @include br-up(md) {
                        padding: 20px 20px;
                    }

                    @include br-up(lg) {
                        padding: 28px 32px;
                    }

                    .product-name {
                        .title {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 25px;
                            color: #31B997;
                            margin-bottom: 0px;

                            @include br-up(md) {
                                font-size: 18px;
                                line-height: 25px;
                            }

                            @include br-up(lg) {
                                font-size: 20px;
                                line-height: 25px;
                            }
                        }

                        .sub-title {
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 25px;
                            color: #4F4F55;
                            margin-bottom: 0px;

                            span {
                                color: #31B997;
                            }


                            @include br-up(md) {
                                font-size: 14px;
                                line-height: 25px;
                            }

                            @include br-up(lg) {
                                font-size: 16px;
                                line-height: 25px;
                            }
                        }
                    }

                    .qtyForm {
                        .form-label {
                            margin-bottom: 0px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #8A8B8E;
                            margin-right: 10px;

                            @include br-up(md) {
                                font-size: 18px;
                                line-height: 24px;
                                margin-right: 14px;

                            }

                            @include br-up(lg) {
                                font-size: 20px;
                                line-height: 24px;
                                margin-right: 16px;

                            }
                        }

                        .form-select {
                            padding: 10px 28px 10px 13px;
                            border: 1px solid #D0D5DD;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 20px;
                            color: #344054;

                            @include br-up(md) {
                                font-size: 14px;
                                line-height: 20px;
                                padding: 10px 35px 10px 13px;
                            }

                            @include br-up(lg) {
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                    }

                    .price {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #31B997;

                        @include br-up(md) {
                            font-size: 18px;
                            line-height: 24px;
                        }

                        @include br-up(lg) {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }

                    .trash-icon {
                        width: 24px;

                        @include br-up(sm) {
                            width: 30px;
                        }

                        @include br-up(md) {
                            width: 40px;
                        }

                    }


                }
            }

            .extra-inputCheck {
                position: absolute;
                bottom: -16px;
                left: 28px
            }
        }

        .extraInputCheckTop {
            transform: translateY(-10px);
        }

    }

    .paymentLink-model {
        max-width: 780px;
        padding-left: 12px;
        padding-right: 12px;

        .paymentLink-model-content {
            border-radius: 16px;
            background-color: #fff;
            padding: 58px 38px;

            @include br-up(md) {
                padding: 8px 8px 8px 38px;
            }

            .title {
                font-weight: 700;
                font-size: 20px;
                line-height: 136.02%;
                color: #16192C;

                @include br-up(md) {
                    font-size: 28px;
                }
            }

            .link-primary {
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 162.02%;
                color: #1D80FF;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 280px;

                @include br-up(sm) {
                    max-width: 580px;

                }
            }

            .button-area {

                padding: 65px 52px;
                background: rgba(247, 248, 253, 0.9);
                border-radius: 14px;

                @include br-up(md) {
                    margin-left: auto;
                }

                .btn-openlink {
                    background: #31B997;
                    border-radius: 8px;
                    padding: 16px 22px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 14px;
                    color: #FFFFFF;
                    white-space: nowrap;
                    flex-wrap: nowrap;

                    svg {
                        margin-left: 8px;
                    }
                }
            }
        }

    }

    .modal-edit {
        height: 100vh;
        padding: 50px 16px;

        .modal-dialog {
            max-width: 100vw;

            .modal-content {
                border-radius: 5px 5px 0px 0px;
            }

            .modal-header {
                background: #31B997;
                border-radius: 5px 5px 0px 0px;
                padding-top: 16px;
                padding-bottom: 16px;

                @include br-up(md) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                @include br-up(lg) {
                    padding-top: 27px;
                    padding-bottom: 27px;
                }

                .modal-title {
                    line-height: 112%;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 24px;

                    @include br-up(md) {
                        font-size: 28px;
                    }

                    @include br-up(lg) {
                        font-size: 24px;
                    }


                    @include br-up(xl) {
                        font-size: 36px;
                    }
                }
            }

            .modal-body {
                padding-top: 55px;

                .c-title {
                    line-height: 112%;
                    text-align: center;
                    color: #212B36;
                    margin-bottom: 60px;
                    font-size: 24px;

                    @include br-up(md) {
                        font-size: 28px;
                    }

                    @include br-up(lg) {
                        font-size: 24px;
                    }


                    @include br-up(xl) {
                        font-size: 36px;
                    }
                }

                .community-manage {
                    .accordion-item {
                        border: 0px;
                    }

                    .accordion-header {
                        background: transparent;
                        border: 2px solid #328090;
                        border-radius: 15px;
                        padding: 12px 16px;

                        @include br-up(sm) {
                            padding: 18px 40px;
                        }

                        .com-check {
                            margin-right: 12px;
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;

                            @include br-up(sm) {
                                margin-right: 20px;

                            }

                            &:checked {
                                background-color: #038090;
                            }
                        }

                        .title {
                            font-family: 'Gilroy-Bold';
                            line-height: 150%;
                            color: #038090;
                            font-size: 16px;
                            margin-bottom: 2px;

                            @include br-up(md) {
                                font-size: 18px;
                            }

                            @include br-up(lg) {
                                font-size: 20px;
                            }


                            @include br-up(xl) {
                                font-size: 22px;
                            }
                        }

                        .sub-title {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            color: #979797;

                            margin-bottom: 0px;

                            @include br-up(md) {
                                font-size: 14px;
                            }

                        }

                        .accordion-button {
                            width: 36px;
                            height: 36px;
                            min-height: 36px;
                            padding: 0px;
                            border-radius: 8999px;
                            box-shadow: none;
                            background: #E7F7FD;
                            flex-shrink: 0;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            transition: 0.2s ease-in-out;

                            &::after {
                                display: none;
                            }

                            &:not(.collapsed) {
                                background-image: none;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }

            }
        }
    }
}