@import url("../font/style.css");
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/metamorphous");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}

.font-gilroy-light {
  font-family: "Gilroy-Light", sans-serif;
}

.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy {
  font-family: "Gilroy-Regular", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-sf-pro {
  font-family: "SF Pro Display", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.success-btn {
  background: #31B997;
  border-radius: 6px;
  padding: 16px 24px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.mb-40px {
  margin-bottom: 40px;
}

.form-check {
  margin-right: 56px;
}
.form-check .form-check-label {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-left: 4px;
}
.form-check .form-check-input {
  width: 16px;
  height: 16px;
  border: 1px solid #9DB7D0;
}
.form-check .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C12 15.5817 15.5817 12 20 12V12C24.4183 12 28 15.5817 28 20V20C28 24.4183 24.4183 28 20 28V28C15.5817 28 12 24.4183 12 20V20Z' fill='%23ED5485'/%3E%3Ccircle cx='20' cy='20' r='20' fill='%23EE628F' fill-opacity='0.24'/%3E%3Ccircle cx='20' cy='20' r='4' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 36px 36px;
  background-color: rgba(238, 98, 143, 0.24);
  border-color: rgba(238, 98, 143, 0.24);
  box-shadow: 0px 0px 0px 5px rgba(238, 98, 143, 0.24);
}

.form-check-input:checked {
  background-color: #605BFF;
}

.text-blue-10 {
  color: #1E3E62;
}

.bg-blue-10 {
  background-color: #1E3E62;
}

.text-dark-10 {
  color: #4F4F55;
}

.bg-dark-10 {
  background-color: #4F4F55;
}

.text-pink-10 {
  color: #ED5485 !important;
}

.bg-pink-10 {
  background-color: #ED5485;
}

.bg-pink-20 {
  background-color: #FF92AE;
}

.bg-pink-30 {
  background: #EE628F;
}

.text-gray-10 {
  color: #425466;
}

.bg-primary-10 {
  background-color: #4C6FFF;
}

.text-primary-10 {
  color: #4C6FFF;
}

.text-primary-20 {
  color: #A7B6CD;
}

.text-green-10 {
  color: #31B997;
}

.bg-green-10 {
  background-color: #31B997;
}

.bg-red-10 {
  background-color: #FC3263;
}

.bg-teal-10 {
  background-color: #00D9D9;
}

.bg-purple-10 {
  background-color: #8452ED;
}

.bg-blue-20 {
  background-color: #009EF7;
}

.text-gray-20 {
  color: #A8AEB6 !important;
}

.bg-dark-20 {
  background: #183555;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #637381;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.breadcrumb .breadcrumb-item {
  margin-right: 8px;
  padding-left: 0px;
}
.breadcrumb .breadcrumb-item::before {
  padding-right: 8px;
}
.breadcrumb .breadcrumb-item a {
  color: #637381;
  text-decoration: none;
}

.container {
  padding-right: 16px;
  padding-left: 6px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container-fluid {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 130px;
  background: #ffffff;
}
.content .breadcrumb {
  margin-bottom: 0px;
}
.content .breadcrumb .breadcrumb-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #637381;
}
.content .grettings {
  background: #CDE9EF;
  border-radius: 2px;
  margin-top: 48px;
  padding: 24px;
  background-image: url(../images/Shapes-bg.png);
  background-repeat: no-repeat;
  background-position: center right 10%;
}
.content .grettings .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: #1E293B;
  margin-bottom: 4px;
}
.content .grettings .details {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #475569;
  margin-bottom: 0px;
}
.content .profile-details {
  margin-bottom: 30px;
  margin-top: 48px;
}
.content .profile-details .profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 999px;
  margin-right: 30px;
}
.content .profile-details .pr-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #343A40;
  margin-right: 26px;
  margin-bottom: 0px;
}
@media (max-width: 575.98px) {
  .content .profile-details .pr-name {
    font-size: 18px;
  }
}
.content .profile-details .pr-stats span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5F5F5F;
  margin-left: 8px;
}
.content .profile-details .pr-create {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #868E96;
  margin-bottom: 0px;
  margin-top: 6px;
}
.content .socialFilterTab {
  margin-bottom: 50px;
}
.content .socialFilterTab .social-tab .tab-btn {
  background: rgba(79, 79, 85, 0.2);
  border-radius: 8px;
  padding: 9px 16px 0px 16px;
}
.content .socialFilterTab .social-tab .tab-btn .icon {
  width: 60px;
}
.content .socialFilterTab .social-tab .tab-btn.active-instagram {
  background: rgba(255, 111, 66, 0.2);
}
.content .socialFilterTab .dateFilter .weekFilter {
  background: #FFFFFF;
  box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 4px;
}
@media (min-width: 576px) {
  .content .socialFilterTab .dateFilter .weekFilter {
    margin-right: 25px;
  }
}
@media (min-width: 768px) {
  .content .socialFilterTab .dateFilter .weekFilter {
    margin-right: 45px;
  }
}
@media (min-width: 992px) {
  .content .socialFilterTab .dateFilter .weekFilter {
    margin-right: 75px;
  }
}
.content .socialFilterTab .dateFilter .weekFilter .filter-btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #1E2029;
  opacity: 0.6;
  padding: 4px 27px;
  border-radius: 5px;
}
.content .socialFilterTab .dateFilter .weekFilter .filter-btn.active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #FFFFFF;
  opacity: 1;
  background: linear-gradient(180deg, #31B997 0%, #31B997 100%);
}
.content .socialFilterTab .dateFilter .dateRange {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.1);
  border-radius: 5px;
  padding: 11px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  display: flex;
  align-items: center;
}
.content .socialFilterTab .dateFilter .dateRange span {
  margin-right: auto;
  width: 100%;
}
.content .stats-cards {
  margin-bottom: 70px;
}
.content .stats-cards .stats-card {
  position: relative;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px 24px 34px 24px;
  filter: drop-shadow(0px 12px 50px rgba(0, 0, 0, 0.04));
}
.content .stats-cards .stats-card .bar {
  width: 7px;
  height: 73px;
  border-radius: 0px 100px 100px 0px;
  position: absolute;
  left: 0;
  top: 24px;
}
.content .stats-cards .stats-card .bar-purple {
  background: #9664FF;
}
.content .stats-cards .stats-card .bar-red {
  background: #F82E2E;
}
.content .stats-cards .stats-card .bar-yellow {
  background: #FFB200;
}
.content .stats-cards .stats-card .bar-teal {
  background: #0FA0DE;
}
.content .stats-cards .stats-card .s-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 29px;
  color: #05004E;
  margin-bottom: 16px;
}
.content .stats-cards .stats-card .number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #1E2029;
  margin-bottom: 10px;
}
.content .stats-cards .stats-card .text-percentage {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #00B69B;
  margin-bottom: 0px;
  margin-right: 6px;
}
.content .stats-cards .stats-card .text-gray {
  color: #A0A0A0;
}
.content .stats-cards .stats-card .text-red {
  color: #FF3A29;
}
.content .stats-cards .stats-card .text-up {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  margin-bottom: 0px;
}
.content .stats-cards .stats-card .avater-icon {
  width: 36px;
  margin-right: 6px;
}
.content .stats-cards .stats-card .value-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #151D48;
  margin-bottom: 0px;
  margin-right: auto;
}
.content .stats-cards .stats-card .number-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #183555;
  margin-bottom: 0px;
}
.content .stats-cards .stats-card .graphic {
  height: 44px;
}
.content .cityAgeGender {
  margin-bottom: 106px;
}
.content .cityAgeGender .cityCard {
  filter: drop-shadow(0px 24.6174px 102.572px rgba(0, 0, 0, 0.04));
  background: #FFFFFF;
  border-radius: 32.8232px;
  padding: 40px;
  height: 100%;
}
.content .cityAgeGender .cityCard .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 29px;
  color: #05004E;
  margin-bottom: 4px;
}
.content .cityAgeGender .cityCard .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #868E96;
  margin-bottom: 65px;
}
.content .cityAgeGender .cityCard .tube-chart {
  width: 100%;
  max-width: 550px;
}
.content .cityAgeGender .ageCard {
  filter: drop-shadow(0px 24.6174px 102.572px rgba(0, 0, 0, 0.04));
  background: #FFFFFF;
  border-radius: 32.8232px;
  padding: 40px;
  height: 100%;
}
.content .cityAgeGender .ageCard .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18.2963px;
  line-height: 29px;
  color: #05004E;
  margin-bottom: 4px;
}
.content .cityAgeGender .ageCard .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #868E96;
  margin-bottom: 25px;
}
.content .cityAgeGender .ageCard .tabs-btn {
  background: #FFFFFF;
  box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 4px;
  margin-bottom: 20px;
}
.content .cityAgeGender .ageCard .tabs-btn .tab-btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #1E2029;
  opacity: 0.6;
  padding: 4px 16px;
  border-radius: 16px;
}
@media (max-width: 575.98px) {
  .content .cityAgeGender .ageCard .tabs-btn .tab-btn {
    padding: 2px 8px;
    font-size: 10px;
  }
}
.content .cityAgeGender .ageCard .tabs-btn .tab-btn.active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #FFFFFF;
  opacity: 1;
  background: linear-gradient(180deg, #31B997 0%, #31B997 100%);
}
.content .cityAgeGender .ageCard .chart {
  width: 100%;
}
.content .adsSummary {
  max-width: 1200px;
  margin-bottom: 70px;
}
.content .adsSummary .titleArea {
  max-width: 1024px;
  margin-bottom: 30px;
}
.content .adsSummary .titleArea .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #05004E;
  margin-bottom: 2px;
}
.content .adsSummary .titleArea .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5D5E60;
  margin-bottom: 0px;
}
.content .adsSummary .titleArea .date-select {
  width: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #1C1D22;
  padding: 10px 38px 10px 14px;
}
.content .adsSummary .g-44px {
  --bs-gutter-y: 44px;
  --bs-gutter-x: 44px;
}
.content .adsSummary .chart-card {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
  border-radius: 16px;
  padding: 20px;
}
.content .adsSummary .chart-card .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 6px;
}
.content .adsSummary .chart-card .number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 8px;
}
.content .adsSummary .chart-card .trend .percentage {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-bottom: 0px;
  margin-left: 6px;
}
.content .adsSummary .chart-card .chart-circle {
  position: relative;
}
.content .adsSummary .chart-card .chart-circle .chart-img {
  width: 58px;
  height: 58px;
}
.content .adsSummary .chart-card .chart-circle .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.content .top-post {
  background: #FFFFFF;
  box-shadow: 0px 1.71972px 10.3183px rgba(37, 51, 66, 0.15);
  border-radius: 6.87889px;
  padding-bottom: 65px;
}
.content .top-post .top-header {
  padding: 20px;
  border-bottom: 0.5px solid #dfe9f6;
}
.content .top-post .top-header .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #05004E;
  margin-bottom: 2px;
}
.content .top-post .top-header .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #868E96;
  max-width: 695px;
  margin-bottom: 0px;
}
.content .top-post table {
  padding: 0px;
  margin: 0px;
}
.content .top-post table thead tr {
  padding: 0px;
}
.content .top-post table thead tr th {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 12px 24px !important;
  vertical-align: middle;
  border-bottom: 1px solid #ECF0F2 !important;
  white-space: nowrap;
}
.content .top-post table tbody tr:first-child td {
  padding-top: 16px !important;
}
.content .top-post table tbody tr td {
  padding: 16px 24px !important;
  vertical-align: middle;
}
.content .top-post table tbody tr td .page-img {
  border-radius: 6px;
  width: 125px;
  height: 86px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 18px;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .content .top-post table tbody tr td .page-img {
    width: 90px;
    flex-shrink: 0;
  }
}
.content .top-post table tbody tr td .page-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 6px;
  white-space: nowrap;
}
.content .top-post table tbody tr td .page-details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}
.content .top-post table tbody tr td .fb-icon {
  width: 44px;
  margin-right: 8px;
}
.content .top-post table tbody tr td .fb-post {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #1E293B;
  margin: 0px !important;
  white-space: nowrap;
}
.content .top-post table tbody tr td .fb-post-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}
.content .top-post table tbody tr td .percentage {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #1E293B;
  margin-bottom: 0px;
}
.content .top-post table tbody tr td .percentage-icon {
  width: 20px;
  margin-left: 8px;
}
.content .top-post table tbody tr td .total-people {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 0px;
}
.content .top-post table tbody tr td .numtext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #183555;
}
.content .top-post table tbody tr td .text-red {
  color: #FF6A77;
}/*# sourceMappingURL=statsReportInstagram.css.map */