.success-btn {
    background: #31B997;
    border-radius: 6px;
    padding: 16px 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}


.mb-40px {
    margin-bottom: 40px;
}