.text-blue-10 {
    color: #1E3E62;
}

.bg-blue-10 {
    background-color: #1E3E62;
}

.text-dark-10 {
    color: #4F4F55;
}

.bg-dark-10 {
    background-color: #4F4F55;
}

.text-pink-10 {
    color: #ED5485;
}

.bg-pink-10 {
    background-color: #ED5485;
}

.bg-pink-20 {
    background-color: #FF92AE;
}

.text-gray-10 {
    color: #425466;
}

.bg-primary-10 {
    background-color: #4C6FFF;
}

.text-green-10 {
    color: #31B997;
}

.bg-red-10 {
    background-color: #FC3263;
}

.bg-teal-10 {
    background-color: #00D9D9;
}

.bg-purple-10 {
    background-color: #8452ED;
}

.bg-blue-20 {
    background-color: #009EF7;
}

.text-gray-20 {
    color: #A8AEB6 !important;
}