.leadViewPage {
    &.content {
        background: #F6F9FC;
        padding-top: 29px;
        padding-bottom: 40px;

        .btn-edit {
            background: #31B997;
            border-radius: 6px;
            padding: 12px 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;

            svg {
                margin-right: 6px;
            }
        }


        .title-card {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(117, 125, 138, 0.15);
            border-radius: 16px 16px 0px 0px;
            padding: 38px 30px 30px 30px;
            margin-top: 18px;
            margin-bottom: 35px;

            .title {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 136.02%;
                color: #27272E;
                margin-bottom: 0px;

                @include br-up(xl) {
                    font-size: 20px;
                }
            }

            .nav {
                margin-left: -12px;
                margin-right: -12px;

                .nav-link {
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: -0.005em;
                    text-decoration-line: underline;
                    color: #ED5485;
                    padding: 6px 12px;

                    @include br-up(lg) {
                        padding: 6px 6px;
                        font-size: 12px;
                    }

                    @include br-up(xl) {
                        padding: 6px 12px;
                        font-size: 14px;
                    }
                }
            }
        }

        .form-card {
            background: #FFFFFF;
            border-radius: 0px 0px 6px 6px;
            padding: 14px 30px 100px 30px;

            .title {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: -0.005em;
                color: #328090;
                border-bottom: 1px solid #E4ECF7;
                padding-bottom: 26px;
                margin-bottom: 28px;
            }



            .mb-40px {
                margin-bottom: 40px;
            }

            .form-label {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 38px;
                color: #425466;
            }

            .input-form {
                padding: 12px 16px;
                border: 1px solid #E8ECF1;
                border-radius: 6px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                font-family: 'Montserrat', sans-serif;
                color: #4F4F55;
            }

            .custom-switch {
                padding-left: 0px;

                .form-check-input {
                    float: none;
                    width: 40px;
                    height: 22px;

                    &:checked {
                        background-color: #31B997;
                        border-color: #31B997;
                    }
                }

                .no {
                    margin-right: 48px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: #B3B3B3;
                    margin-top: 4px;
                }

                .yes {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: #000000;
                    margin-top: 4px;
                    margin-left: 8px;

                }
            }

            .calender {
                position: relative;

                input {
                    padding: 12px 16px;
                    border: 1px solid #E8ECF1;
                    border-radius: 6px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    color: #4F4F55;
                }

                .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 48px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #31B997;
                    border-radius: 4px;
                    pointer-events: none;
                }
            }

            .input-link {
                // border: 1px solid #E8ECF1;
                border-radius: 6px;

                input {
                    padding: 12px 16px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    color: #4F4F55;
                    border: 1px solid #E8ECF1;
                }

                .input-group-text {
                    width: 80px;
                    background: #FFFFFF;
                    border: 1px solid #E8ECF1;
                }
            }

            .subSelect {
                .input-group-text {
                    width: 70px;
                    padding: 0;
                    background: transparent;
                    border: 1px solid #E8ECF1;

                    .form-select {
                        border: 0px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        color: #4F4F55;
                        box-shadow: none;
                    }
                }

                input {
                    padding: 12px 16px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    color: #000000;
                    border: 1px solid #E8ECF1;
                }
            }

            .slider-range {
                .input-area {
                    max-width: 96px;
                    margin-right: 42px;
                }

                .range {
                    max-width: 448px;
                    width: 100%;
                }

                .range-slider {
                    background: #E3E8EE !important;
                    border-radius: 58px !important;
                    border: 0px !important;
                    // margin-top: 60px;

                    .ui-widget-header {
                        background: #ED5485 !important;
                        border-radius: 58px !important;
                    }

                    .ui-state-default,
                    .ui-widget-content .ui-state-default,
                    .ui-widget-header .ui-state-default,
                    .ui-button,
                    html .ui-button.ui-state-disabled:hover,
                    html .ui-button.ui-state-disabled:active {
                        background: #FFFFFF !important;
                        border: 1px solid #C1C9D2 !important;
                        box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12) !important;
                        width: 20px !important;
                        height: 20px !important;
                        border-radius: 995px !important;
                        box-shadow: none !important;
                        top: -3.5px;
                    }

                    .ui-state-focus {
                        border: 0px !important;
                        box-shadow: none !important;
                        color: #fff !important;
                        outline: none;
                        border: 1px solid #C1C9D2 !important;
                    }

                    .popUpRange {
                        position: absolute;
                        top: 0;
                        right: 0;
                        text-align: center;
                        transform: translateX(5%) translateY(-32px);
                        pointer-events: none;
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: center;
                        color: #E3E8EE;
                        background: #3C4257;
                        padding: 2px 4px;
                        box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.06), 0px 1px 3px rgba(55, 65, 81, 0.1);
                        border-radius: 4px;
                        display: block;
                    }
                }

                .range-scaler {
                    margin-top: 12px;
                    margin-left: 0;
                    margin-right: -10px;

                    .top-bdr {
                        width: 1px;
                        background: #A3ACB9;
                        margin-bottom: 5px;

                        &.big-bdr {
                            height: 12px;
                        }

                        &.sml-bdr {
                            height: 6px;
                        }

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #697386;
                        }
                    }
                }
            }

            .border-brk {
                width: 100%;
                height: 1px;
                background: #EDF2F7;
            }

            .title2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #328090;
            }

            .btn-add {
                background: rgba(49, 185, 151, 0.11);
                border-radius: 10px;
                padding: 9px 22px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #31B997;
            }

            .mb-md-0 {
                @include br-up(md) {
                    margin-bottom: 0px !important;
                }
            }

            .btn-save {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 12px;
                color: #FFFFFF;
                background: #31B997;
                border-radius: 6px;
                padding: 12px 32px;
                margin-top: 27px;
            }
        }
    }
}