@import "style";

.content {
    padding-top: 30px;
    padding-bottom: 130px;
    background: #ffffff;

    .breadcrumb {
        margin-bottom: 0px;

        .breadcrumb-item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #637381;

        }
    }

    .grettings {
        background: #CDE9EF;
        border-radius: 2px;
        margin-top: 48px;
        padding: 24px;
        background-image: url(../images/Shapes-bg.png);
        background-repeat: no-repeat;
        background-position: center right 10%;

        .title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -0.25px;
            color: #1E293B;
            margin-bottom: 4px;
        }

        .details {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.25px;
            color: #475569;
            margin-bottom: 0px;
        }
    }


    .profile-details {
        margin-bottom: 30px;
        margin-top: 48px;



        .profile-pic {
            width: 75px;
            height: 75px;
            border-radius: 999px;
            margin-right: 30px;
        }

        .pr-name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #343A40;
            margin-right: 26px;
            margin-bottom: 0px;

            @include br-down(sm) {
                font-size: 18px;

            }
        }

        .pr-stats {
            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #5F5F5F;
                margin-left: 8px;
            }
        }

        .pr-create {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #868E96;
            margin-bottom: 0px;
            margin-top: 6px;

        }
    }

    .socialFilterTab {
        margin-bottom: 50px;

        .social-tab {
            .tab-btn {
                background: rgba(79, 79, 85, 0.2);
                border-radius: 8px;
                padding: 9px 16px 0px 16px;

                .icon {
                    width: 60px;
                }

                &.active-instagram {
                    background: rgba(255, 111, 66, 0.2);
                }
            }
        }

        .dateFilter {

            .weekFilter {
                background: #FFFFFF;
                box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
                border-radius: 16px;
                padding: 4px;

                @include br-up(sm) {
                    margin-right: 25px;
                }

                @include br-up(md) {
                    margin-right: 45px;
                }

                @include br-up(lg) {
                    margin-right: 75px;
                }




                .filter-btn {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 32px;
                    text-align: right;
                    letter-spacing: -0.018em;

                    color: #1E2029;

                    opacity: 0.6;
                    padding: 4px 27px;
                    border-radius: 5px;

                    &.active {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 32px;
                        text-align: right;
                        letter-spacing: -0.018em;
                        color: #FFFFFF;
                        opacity: 1;
                        background: linear-gradient(180deg, #31B997 0%, #31B997 100%);
                    }
                }
            }

            .dateRange {
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.1);
                border-radius: 5px;
                padding: 11px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #344054;
                display: flex;
                align-items: center;

                span {
                    margin-right: auto;
                    width: 100%;
                }
            }
        }
    }


    .stats-cards {
        margin-bottom: 70px;

        .stats-card {
            position: relative;
            background: #FFFFFF;
            border-radius: 16px;
            padding: 24px 24px 34px 24px;
            filter: drop-shadow(0px 12px 50px rgba(0, 0, 0, 0.04));

            .bar {
                width: 7px;
                height: 73px;
                border-radius: 0px 100px 100px 0px;
                position: absolute;
                left: 0;
                top: 24px;
            }

            .bar-purple {
                background: #9664FF;
            }

            .bar-red {
                background: #F82E2E;
            }

            .bar-yellow {
                background: #FFB200;
            }

            .bar-teal {
                background: #0FA0DE;
            }

            .s-title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 18.2963px;
                line-height: 29px;
                color: #05004E;
                margin-bottom: 16px;
            }

            .number {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 32px;
                letter-spacing: -0.018em;
                color: #1E2029;
                margin-bottom: 10px;
            }

            .text-percentage {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: -0.018em;
                color: #00B69B;
                margin-bottom: 0px;
                margin-right: 6px;
            }

            .text-gray {
                color: #A0A0A0;
            }

            .text-red {
                color: #FF3A29;
            }

            .text-up {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #606060;
                margin-bottom: 0px;
            }

            .avater-icon {
                width: 36px;
                margin-right: 6px;
            }

            .value-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: #151D48;
                margin-bottom: 0px;
                margin-right: auto;
            }

            .number-2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                text-align: right;
                color: #183555;
                margin-bottom: 0px;
            }

            .graphic {
                height: 44px;
            }
        }
    }

    .cityAgeGender {
        margin-bottom: 106px;

        .cityCard {
            filter: drop-shadow(0px 24.6174px 102.572px rgba(0, 0, 0, 0.04));
            background: #FFFFFF;
            border-radius: 32.8232px;
            padding: 40px;
            height: 100%;

            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 18.2963px;
                line-height: 29px;
                color: #05004E;
                margin-bottom: 4px;
            }

            .details {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #868E96;
                margin-bottom: 65px;
            }

            .tube-chart {
                width: 100%;
                max-width: 550px;
            }
        }

        .ageCard {
            filter: drop-shadow(0px 24.6174px 102.572px rgba(0, 0, 0, 0.04));
            background: #FFFFFF;
            border-radius: 32.8232px;
            padding: 40px;
            height: 100%;

            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 18.2963px;
                line-height: 29px;
                color: #05004E;
                margin-bottom: 4px;
            }

            .details {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #868E96;
                margin-bottom: 25px;
            }

            .tabs-btn {
                background: #FFFFFF;
                box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
                border-radius: 16px;
                padding: 4px;
                margin-bottom: 20px;

                .tab-btn {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 32px;
                    letter-spacing: -0.018em;
                    color: #1E2029;
                    opacity: 0.6;
                    padding: 4px 16px;
                    border-radius: 16px;

                    @include br-down(sm) {
                        padding: 2px 8px;
                        font-size: 10px;
                    }

                    &.active {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 32px;
                        letter-spacing: -0.018em;
                        color: #FFFFFF;
                        opacity: 1;
                        background: linear-gradient(180deg, #31B997 0%, #31B997 100%);
                    }
                }
            }

            .chart {
                width: 100%;
            }
        }

    }

    .adsSummary {
        max-width: 1200px;
        margin-bottom: 70px;

        .titleArea {
            max-width: 1024px;
            margin-bottom: 30px;

            .title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #05004E;
                margin-bottom: 2px;
            }

            .details {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #5D5E60;
                margin-bottom: 0px;
            }

            .date-select {
                width: auto;
                margin-left: auto;
                background-color: #FFFFFF;
                box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
                border-radius: 16px;
                border: 0px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #1C1D22;
                padding: 10px 38px 10px 14px;
            }
        }

        .g-44px {
            --bs-gutter-y: 44px;
            --bs-gutter-x: 44px;
        }

        .chart-card {
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
            border-radius: 16px;
            padding: 20px;

            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #000000;
                margin-bottom: 6px;
            }

            .number {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                color: #000000;
                margin-bottom: 8px;
            }

            .trend {
                .percentage {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 15px;
                    color: #333333;
                    margin-bottom: 0px;
                    margin-left: 6px;
                }
            }

            .chart-circle {
                position: relative;

                .chart-img {
                    width: 58px;
                    height: 58px;

                }

                .percentage {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    color: #333333;
                }
            }
        }


    }

    .top-post {
        background: #FFFFFF;
        box-shadow: 0px 1.71972px 10.3183px rgba(37, 51, 66, 0.15);
        border-radius: 6.87889px;
        padding-bottom: 65px;

        .top-header {
            padding: 20px;
            border-bottom: 0.5px solid #dfe9f6;

            .title {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #05004E;
                margin-bottom: 2px;
            }

            .details {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #868E96;
                max-width: 695px;
                margin-bottom: 0px;
            }
        }

        table {
            padding: 0px;
            margin: 0px;



            thead tr {
                padding: 0px;

                th {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                    padding: 12px 24px !important;
                    vertical-align: middle;
                    border-bottom: 1px solid #ECF0F2 !important;
                    white-space: nowrap;
                }
            }

            tbody {
                tr {
                    &:first-child {
                        td {
                            padding-top: 16px !important;
                        }
                    }

                    td {

                        padding: 16px 24px !important;
                        vertical-align: middle;

                        .page-img {
                            border-radius: 6px;
                            width: 125px;
                            height: 86px;
                            object-fit: cover;
                            margin-right: 18px;
                            flex-shrink: 0;

                            @include br-down(md) {
                                width: 90px;
                                flex-shrink: 0;
                            }
                        }

                        .page-title {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                            color: #000000;
                            margin-bottom: 6px;
                            white-space: nowrap;
                        }

                        .page-details {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: rgba(0, 0, 0, 0.5);
                            margin-bottom: 0px;
                        }

                        .fb-icon {
                            width: 44px;
                            margin-right: 8px;
                        }

                        .fb-post {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #1E293B;
                            margin: 0px !important;
                            white-space: nowrap;
                        }

                        .fb-post-date {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: rgba(0, 0, 0, 0.5);
                            margin-bottom: 0px;
                        }

                        .percentage {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: right;
                            letter-spacing: 0.1px;
                            color: #1E293B;
                            margin-bottom: 0px;
                        }

                        .percentage-icon {
                            width: 20px;
                            margin-left: 8px;
                        }

                        .total-people {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: 1px;
                            color: rgba(0, 0, 0, 0.5);
                            margin-top: 20px;
                            margin-bottom: 0px;
                        }

                        .numtext {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #183555;
                        }

                        .text-red {
                            color: #FF6A77;
                        }
                    }
                }

            }
        }
    }
}