.text-blue-10 {
    color: #1E3E62;
}

.bg-blue-10 {
    background-color: #1E3E62;
}

.text-dark-10 {
    color: #4F4F55;
}

.bg-dark-10 {
    background-color: #4F4F55;
}

.text-pink-10 {
    color: #ED5485;
}

.bg-pink-10 {
    background-color: #ED5485;
}