.blogPostsCreateNew {
    background: #F6F9FC;
    padding-top: 36px;
    padding-bottom: 26px;

    @include br-up(md) {
        padding-top: 32px;
        padding-bottom: 60px;

    }

    @include br-up(lg) {
        padding-top: 29px;
        padding-bottom: 48px;

    }

    .container-fluid {
        padding-left: 16px;
        padding-right: 16px;

        @include br-up(md) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include br-up(xl) {
            padding-left: 72px;
            padding-right: 72px;
        }
    }

    .title-header {
        padding-top: 32px;

        @include br-up(sm) {
            padding-top: 40px;
        }

        @include br-up(lg) {
            padding-top: 48px;
        }

        @include br-up(xl) {
            padding-top: 57px;
        }

        .title {
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #084279;
        }

        .primary-btn {
            border: 1px solid #C4CACF;
            border-radius: 6px;
            padding: 12px 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            min-width: 100px;
            color: #16192C;
        }
    }


    .form-part {
        margin-top: 36px;

        .input-box {
            margin-bottom: 20px;

            @include br-up(sm) {
                margin-bottom: 28px;
            }

            @include br-up(lg) {
                margin-bottom: 40px;
            }

        }

        .form-label {
            font-weight: 600;
            font-size: 14px;
            line-height: 38px;
            color: #425466;
        }

        .form-control {
            background: #FFFFFF;
            border: 1px solid #E8ECF1;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 14px;
            line-height: 18px;
            padding: 12px 24px;
            color: #425466;
            font-family: 'Montserrat', sans-serif;

            @include br-up(lg) {
                line-height: 38px;
                padding: 6px 32px;
            }

            &::placeholder {
                color: #B5B5BD;
            }
        }

        .text-editor {
            width: 100%;
            margin-bottom: 50px;

            .editor-area {
                width: 100%;
            }
        }

        .t-label {
            font-weight: 600;
            font-size: 14px;
            line-height: 38px;
            color: #425466;
            width: 105px;
        }

        .uploader {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #FFFFFF;
            border: 1px dashed #E4E7EC;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 36px 24px;

            svg {
                width: 40px;
                margin-bottom: 12px;
            }

            .click-upload {
                color: #667085;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 4px;
            }

            .file-type {
                font-size: 12px;
                line-height: 18px;
                color: #667085;
            }
        }


        .form-select {
            background-color: #FFFFFF;
            border: 1px solid #E8ECF1;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 14px;
            line-height: 18px;
            padding: 12px 24px;
            color: #425466;
            font-family: 'Montserrat', sans-serif;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.76688 7.74335L10.0002 10.9767L13.2335 7.74335C13.3107 7.6662 13.4023 7.605 13.5031 7.56325C13.6039 7.52149 13.7119 7.5 13.821 7.5C13.9302 7.5 14.0382 7.52149 14.139 7.56325C14.2398 7.605 14.3314 7.6662 14.4085 7.74335C14.4857 7.8205 14.5469 7.91209 14.5887 8.0129C14.6304 8.1137 14.6519 8.22174 14.6519 8.33085C14.6519 8.43996 14.6304 8.548 14.5887 8.6488C14.5469 8.74961 14.4857 8.8412 14.4085 8.91835L10.5835 12.7434C10.5065 12.8206 10.4149 12.8819 10.3141 12.9237C10.2133 12.9655 10.1052 12.9871 9.99605 12.9871C9.88691 12.9871 9.77884 12.9655 9.67803 12.9237C9.57722 12.8819 9.48564 12.8206 9.40855 12.7434L5.58355 8.91835C5.50629 8.84126 5.445 8.74968 5.40319 8.64887C5.36137 8.54806 5.33984 8.43999 5.33984 8.33085C5.33984 8.22171 5.36137 8.11364 5.40319 8.01283C5.445 7.91202 5.50629 7.82045 5.58355 7.74335C5.90855 7.42668 6.44188 7.41835 6.76688 7.74335V7.74335Z' fill='%2390A0B7'/%3E%3C/svg%3E%0A");
            background-size: 24px 24px;
            background-position: right 1.5rem center;

            @include br-up(lg) {
                line-height: 38px;
                padding: 6px 32px;
            }

            &::placeholder {
                color: #B5B5BD;
            }
        }

        .success-btn {
            background: #31B997;
            border-radius: 6px;
            padding: 12px 20px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 12px;
            line-height: 12px;
            color: #FFFFFF;
            min-width: 100px;
            display: inline-block;

            svg {
                margin-right: 8px;
            }
        }

        .input-group {
            border: 1px solid #E8ECF1;
            box-sizing: border-box;
            border-radius: 6px;
            overflow: hidden;

            .input-group-text {
                background: #FFFFFF;
                border: 0;
                box-sizing: border-box;
                font-size: 16px;
                line-height: 24px;
                color: #667085;
                padding-left: 14px;
                padding-right: 14px;
            }

            .form-control {
                border: 0;
                border-left: 1px solid #E8ECF1;
                box-sizing: border-box;
                border-radius: 6px !important;
            }
        }

    }


    .form-btns {
        margin-top: 60px;

        @include br-up(lg) {
            margin-top: 100px;
        }

        .btn-cancel {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #4F4F55;
            padding: 14px 36px;
            border: 1px solid #C4CACF;
            box-sizing: border-box;
            border-radius: 6px;
            margin-right: 32px;
        }

        .btn-submit {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 14px 36px;
            background-color: #31B997;
            border-radius: 6px;
        }
    }

}