// Colors
$white: #ffffff;
$dark-10: #222831;
$dark-20: #182f43;
$blue-10: #084279;
$blue-20: #183555;
$blue-30: #10375c;
$blue-40: #103558;
$blue-50: #0f3151;
$green-10: #31b997;
$green-20: #328090;
$gray-10: #979797;
$gray-20: #f4f7fb;
$pink-10: #ed5485;
$pink-20: #ee628f;
$light: #f1f1f1;

// Font-familly
$montserrat: "Montserrat", sans-serif !important;
$rubik: "Rubik", sans-serif !important;
$lato: "Lato", sans-serif !important;

// Font Responsive
html {
  font-size: 12px !important;

  @media (min-width: 768px) {
    font-size: 14px !important;
  }
  @media (min-width: 992px) {
    font-size: 16px !important;
  }
}

// Utilities
.object-cover {
  object-fit: cover;
}

.g-32 {
  gap: 16px;
}

// Header Section Start
header {
  padding-top: 65px;
  padding-bottom: 65px;
  @media (max-width: 991.98px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav {
    .logo {
      width: 128px;
    }
    @media (max-width: 991.98px) {
      .logo {
        width: 100px;
      }
    }
    @media (max-width: 767.98px) {
      .logo {
        width: 80px;
      }
    }
    .nav-menus {
      font-family: $rubik;
      font-weight: 500;
      margin-right: 22px;
      .nav-link {
        color: $blue-10 !important;
        @media (min-width: 992px) {
          padding-right: 20px !important;
          padding-left: 20px !important;
        }
      }
    }

    .social-icon {
      padding-right: 13px;
      @media (min-width: 992px) {
        border-right: 1px solid rgba(99, 98, 98, 0.2) !important;
      }
      @media (max-width: 991.98px) {
        flex-direction: row;
      }
      li {
        @media (min-width: 992px) {
          padding-right: 14px;
          padding-left: 14px;
        }
      }
    }

    .dropdown {
      margin-top: 20px;
      font-family: $rubik;
      @media (min-width: 992px) {
        margin-left: 40px;
        margin-top: 0px;
      }

      button {
        border: 0 !important;
        background-color: $green-10;
        @media (min-width: 992px) {
          padding: 14px 46px;
        }
        padding: 12px 40px;
        transition: none !important;
        &:focus,
        &:hover,
        &:active {
          outline: none !important;
          border: 0;
          box-shadow: none !important;
          background-color: $green-10;
        }
      }
    }
  }
}
// Header Section End

// Heros Section Start
.heros-section {
  padding-top: 67px;
  padding-bottom: 60px;
  @media (max-width: 575.98px) {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  .heros-width {
    max-width: 758px;
  }
  .main-title {
    font-family: $montserrat;
    font-weight: 800;
    color: $blue-20;
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 32px;
    @media (min-width: 576px) {
      font-size: 32px;
      line-height: 36px;
    }
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (min-width: 992px) {
      font-size: 50px;
      line-height: 63px;
    }
    overflow-wrap: break-word;
  }

  .sub-title {
    @extend .main-title;
    color: $green-20;
    margin-bottom: 40px;
    font-size: 24px;
    @media (min-width: 576px) {
      font-size: 28px;
      margin-bottom: 48px;
    }
    @media (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 60px;
    }
    @media (min-width: 992px) {
      font-size: 48px;
      margin-bottom: 72px;
    }
  }

  .hero-btn {
    background-color: $green-10;

    color: $white;
    font-family: $rubik;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    span {
      margin-right: 16px;
    }
    @media (min-width: 992px) {
      font-size: 18px;
      padding-left: 68px;
      padding-right: 68px;
      span {
        margin-right: 24px;
      }
    }
  }

  // Slider
  .slider {
    margin-top: 20px;
    margin-bottom: 100px;
    .slider-img {
      object-fit: cover;
      object-position: center;
      height: 380px;
      @media (min-width: 576px) {
        height: 430px;
      }
      @media (min-width: 768px) {
        height: 500px;
      }

      @media (min-width: 992px) {
        height: 688px;
      }
    }

    .slider-btn {
      position: relative;
      color: $gray-10;
      font-size: 14px;
      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 992px) {
        font-size: 18px;
      }
      font-family: $montserrat;
      font-weight: 600;
      width: auto;
      margin-bottom: 34px;
      .icon {
        width: 32px;
        height: 32px;
        svg {
          width: 18px;
        }
        @media (min-width: 576px) {
          width: 36px;
          height: 36px;
          svg {
            width: 18px;
          }
        }
        @media (min-width: 768px) {
          width: 40px;
          height: 40px;
        }

        @media (min-width: 992px) {
          width: 48px;
          height: 48px;
          svg {
            width: 24px;
          }
        }
        border: 1px solid $pink-10;
        border-radius: 100%;
        svg {
          stroke: $pink-10;
        }
      }
      &:hover {
        .icon {
          background: $pink-20;
          svg {
            stroke: $white;
          }
        }
      }
    }

    .carousel-indicators {
      button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #183555;
      }
    }
  }

  // Facilities
  .btn-pink {
    padding-left: 64px;
    padding-right: 64px;
    background: $pink-10;
    color: $white;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 16px;
    @media (min-width: 576px) {
      font-size: 18px;
      padding-left: 80px;
      padding-right: 80px;
    }
    @media (min-width: 992px) {
      font-size: 20px;
      padding-left: 107px;
      padding-right: 107px;
    }
    box-shadow: 0 25px 30px -12px rgba(238, 98, 143, 0.5);
  }
  .shadow-pink {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    height: 15px;
    // background: rgba(238, 98, 143, 1);
    // filter: blur(15px);
  }

  .btn-avis {
    font-family: $lato;
    padding-left: 64px;
    padding-right: 64px;
    color: $dark-10;
    font-weight: 700;
    font-size: 16px;
    margin-left: 12px;
    @media (min-width: 576px) {
      font-size: 18px;
      padding-left: 80px;
      padding-right: 80px;
    }
    @media (min-width: 992px) {
      font-size: 20px;
      padding-left: 107px;
      padding-right: 107px;
    }
    &:hover {
      background: $pink-10;
      color: $white;
      box-shadow: 0 25px 30px -12px rgba(238, 98, 143, 0.5);
    }
  }
}
// Heros Section End

// photos-par-section Start
.photos-par-section {
  background-color: $gray-20;
  padding-top: 40px;
  padding-bottom: 46px;

  .title {
    margin-bottom: 32px;
    font-family: $rubik;
    font-weight: 600;
    color: $dark-20;
    font-size: 2.75rem;
    span {
      font-weight: 700;
      color: $pink-10;
      font-size: 2rem;
    }
  }

  .big-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 32px;
    height: 480px;
    @media (min-width: 576px) {
      height: 600px;
    }
    @media (min-width: 992px) {
      height: 780px;
    }
    @media (min-width: 1200px) {
      height: 928px;
    }
  }
  .small-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .sliderNav {
    .carousel-cell {
      width: 25%;
      height: 100%;
      margin-right: 32px;
    }
    .flickity-viewport {
      height: 80px !important;
      @media (min-width: 576px) {
        height: 130px !important;
      }
      @media (min-width: 992px) {
        height: 220px !important;
      }
      @media (min-width: 1200px) {
        height: 311px !important;
      }
    }
  }
}
// Photos Par End

// map-section Start
.map-section {
  padding-top: 84px;
}

// autres-section Start
.autres-section {
  padding-top: 110px;
  padding-bottom: 120px;
  .title {
    font-family: $montserrat;
    font-weight: 700;
    color: $blue-30;
    font-size: 2.75rem;
    margin-bottom: 44px;
  }

  .gx-54 {
    --bs-gutter-x: 3.375rem;
  }
  .gy-64 {
    --bs-gutter-y: 4rem;
  }

  .card-autres {
    width: 100%;
    height: 417px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 5px;
    cursor: pointer;
    .card-captions {
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(96, 85, 85, 0.37);
      box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
      backdrop-filter: blur(11px);
      font-family: $rubik;
      border-radius: 5px;
      padding-top: 40px;
      padding-bottom: 14px;
      padding-left: 22px;
      padding-right: 22px;
      text-decoration: none;
      .sub-title {
        font-weight: 700;
        color: $white;
        font-size: 0.875rem;
        margin-bottom: 12px;
      }
      .main-title {
        font-weight: 500;
        color: $white;
        font-size: 1.375rem;
        margin-bottom: 18px;
      }

      .user-profile {
        max-height: 0px;
        overflow: hidden;
        transition: 75ms ease-out;
        .avater {
          width: 56px;
          height: 56px;
          border: 3px solid $green-10;
          margin-right: 32px;
        }
        .avater-name {
          font-weight: 700;
          color: $white;
          font-size: 1.125rem;
        }
      }
    }

    &:hover {
      .user-profile {
        max-height: 60px;
        overflow: hidden;
      }
    }
  }
}

// CTA Section Start
.cta-section {
  background-color: $green-20;
  overflow: hidden;
  margin-bottom: 100px;
  .title {
    font-family: $montserrat;
    font-weight: 800;
    color: $white;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 10px;
  }
  .paragraph {
    font-family: $montserrat;
    color: $white;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 62px;
  }
  .btn-pink {
    padding: 16px 32px;
    background: $pink-10;
    color: $white;
    font-family: $rubik;
    font-weight: 500;
    font-size: 16px;
    @media (min-width: 576px) {
      font-size: 18px;
      padding: 18px 40px;
    }
    @media (min-width: 992px) {
      font-size: 18px;
    }
    svg {
      margin-left: 20px;
    }
  }

  @media (min-width: 992px) {
    .cta-img {
      min-width: 720px;
    }
  }
}

// Footer Section Srart
footer {
  background-color: $blue-40;
  .content-area {
    padding-top: 68px;
    padding-bottom: 45px;

    .logo {
      width: 120px;
      margin-bottom: 12px;
    }

    .paragraph {
      font-size: 16px;
      color: $white;
      font-family: $rubik;
    }

    .title {
      font-size: 1.5rem;
      color: $white;
      font-family: $rubik;
      font-weight: 700;
    }

    .menus {
      list-style: none;
      padding: 0px;
      margin-right: 16px;
      @media (min-width: 1400px) {
        margin-right: 32px;
      }

      li {
        &:not(:last-child) {
          padding-bottom: 16px;
        }
      }
      a {
        font-size: 16px;
        font-family: $rubik;
        text-decoration: none;
        color: $light;
      }
    }

    .newsletter {
      input {
        padding: 10px 12px;
        background: rgba(244, 245, 247, 0.5);
        font-family: $rubik;
        font-size: 16px;
        margin-right: 4px;
        border: 0px;
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      button {
        width: 46px;
        height: 46px;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
      }
    }

    .social-icons {
      list-style: none;
      padding: 0px;
      li {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
  }

  .bottom-footer {
    background-color: $blue-50;
    padding-top: 20px;
    padding-bottom: 20px;
    .copyright {
      font-family: $rubik;
      color: $white;
    }
  }
}
