@import url("../font/style.css");
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/metamorphous");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}

.font-gilroy-light {
  font-family: "Gilroy-Light", sans-serif;
}

.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy {
  font-family: "Gilroy-Regular", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-sf-pro {
  font-family: "SF Pro Display", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.success-btn {
  background: #31B997;
  border-radius: 6px;
  padding: 16px 24px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.mb-40px {
  margin-bottom: 40px;
}

.form-check {
  margin-right: 56px;
}
.form-check .form-check-label {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-left: 4px;
}
.form-check .form-check-input {
  width: 16px;
  height: 16px;
  border: 1px solid #9DB7D0;
}
.form-check .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C12 15.5817 15.5817 12 20 12V12C24.4183 12 28 15.5817 28 20V20C28 24.4183 24.4183 28 20 28V28C15.5817 28 12 24.4183 12 20V20Z' fill='%23ED5485'/%3E%3Ccircle cx='20' cy='20' r='20' fill='%23EE628F' fill-opacity='0.24'/%3E%3Ccircle cx='20' cy='20' r='4' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 36px 36px;
  background-color: rgba(238, 98, 143, 0.24);
  border-color: rgba(238, 98, 143, 0.24);
  box-shadow: 0px 0px 0px 5px rgba(238, 98, 143, 0.24);
}

.form-check-input:checked {
  background-color: #605BFF;
}

.text-blue-10 {
  color: #1E3E62;
}

.bg-blue-10 {
  background-color: #1E3E62;
}

.text-dark-10 {
  color: #4F4F55;
}

.bg-dark-10 {
  background-color: #4F4F55;
}

.text-pink-10 {
  color: #ED5485 !important;
}

.bg-pink-10 {
  background-color: #ED5485;
}

.bg-pink-20 {
  background-color: #FF92AE;
}

.bg-pink-30 {
  background: #EE628F;
}

.text-gray-10 {
  color: #425466;
}

.bg-primary-10 {
  background-color: #4C6FFF;
}

.text-primary-10 {
  color: #4C6FFF;
}

.text-primary-20 {
  color: #A7B6CD;
}

.text-green-10 {
  color: #31B997;
}

.bg-green-10 {
  background-color: #31B997;
}

.bg-red-10 {
  background-color: #FC3263;
}

.bg-teal-10 {
  background-color: #00D9D9;
}

.bg-purple-10 {
  background-color: #8452ED;
}

.bg-blue-20 {
  background-color: #009EF7;
}

.text-gray-20 {
  color: #A8AEB6 !important;
}

.bg-dark-20 {
  background: #183555;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #637381;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.breadcrumb .breadcrumb-item {
  margin-right: 8px;
  padding-left: 0px;
}
.breadcrumb .breadcrumb-item::before {
  padding-right: 8px;
}
.breadcrumb .breadcrumb-item a {
  color: #637381;
  text-decoration: none;
}

.container {
  padding-right: 16px;
  padding-left: 6px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container-fluid {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.header .dropdown .btn {
  width: 100%;
  background: #038090;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header .dropdown .btn {
    width: auto;
    padding: 8px 24px !important;
  }
}
@media (min-width: 992px) {
  .header .dropdown .btn {
    width: auto;
    padding: 14px 44px !important;
  }
}
.header .social-icon .icon {
  color: #103558;
}
@media (min-width: 992px) {
  .header .social-icon .icon {
    color: #FFFFFF;
  }
}

.heros {
  padding-top: 118px;
}
@media (min-width: 576px) {
  .heros {
    height: 470px;
  }
}
@media (min-width: 768px) {
  .heros {
    height: 570px;
  }
}
@media (min-width: 992px) {
  .heros {
    height: 650px;
  }
}
@media (min-width: 1200px) {
  .heros {
    height: 750px;
  }
}
@media (min-width: 1400px) {
  .heros {
    height: 840px;
  }
}
.heros .title {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .heros .title {
    font-size: 30px;
    line-height: 52px;
  }
}
@media (min-width: 1200px) {
  .heros .title {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 76px;
    margin-top: 28px;
  }
}
.heros .hero-img {
  width: 290px;
}
@media (min-width: 576px) {
  .heros .hero-img {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .heros .hero-img {
    width: 100%;
  }
}
.heros .text-red-10 {
  color: #EE628F;
}
.heros .text-blue-10 {
  color: #1E255D;
}
.heros .blue-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: #103558;
  border-bottom-left-radius: 246px;
  width: 50%;
  height: 350px;
  transition: 0.5s ease-in-out;
}
@media (min-width: 576px) {
  .heros .blue-background {
    height: 470px;
  }
}
@media (min-width: 768px) {
  .heros .blue-background {
    height: 570px;
    width: 42%;
  }
}
@media (min-width: 992px) {
  .heros .blue-background {
    height: 650px;
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .heros .blue-background {
    height: 750px;
    width: 32%;
  }
}
@media (min-width: 1400px) {
  .heros .blue-background {
    height: 840px;
    width: 30%;
  }
}
@media (min-width: 1640px) {
  .heros .blue-background {
    width: 36%;
  }
}
.heros .btn-icon {
  background: #038090;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 16px 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .heros .btn-icon {
    padding: 12px 40px;
    font-size: 14px;
    line-height: 150%;
  }
}
.heros .btn-icon svg,
.heros .btn-icon img {
  width: 32px;
  margin-left: 16px;
}
@media (max-width: 575.98px) {
  .heros .btn-icon svg,
.heros .btn-icon img {
    width: 24px;
    margin-left: 8px;
  }
}

.client {
  margin-top: 40px;
  padding: 50px 24px 42px 24px;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
  margin-bottom: 8px;
}
.client .max-w-788px {
  max-width: 788px;
  margin: 0 auto;
}
.client .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 53px;
  text-align: center;
  color: #10375C;
  margin-bottom: 32px;
}
.client .pizza-hut {
  width: 124px;
  min-width: 124px;
}
.client .laforet {
  width: 118px;
  min-width: 118px;
}
.client .carglass {
  width: 100px;
  min-width: 100px;
}
.client .dessange {
  width: 103px;
  min-width: 103px;
}
.client .ixina {
  width: 93px;
  min-width: 93px;
}
.client .mrdriologe {
  width: 101px;
  height: 19px;
  min-width: 101px;
}
.client .securitest {
  width: 112px;
  min-width: 112px;
}
.client .columbia {
  width: 98px;
  min-width: 98px;
}
.client .panda {
  width: 40px;
  min-width: 40px;
}

.nos-service {
  background: #FAFCFF;
}
.nos-service .position-relative {
  position: relative;
}
.nos-service .container {
  padding-top: 120px;
  padding-bottom: 130px;
}
.nos-service .nos-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nos-service .nos-bg .nos-bg-img {
  width: 1200px;
  min-width: 1200px;
}
.nos-service .title-area {
  position: relative;
}
@media (min-width: 992px) {
  .nos-service .title-area {
    max-width: 560px;
  }
}
.nos-service .title-area .shape {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: -18px;
  width: 112px;
}
.nos-service .title-area .title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height, or 93% */
  letter-spacing: -0.03em;
  color: #103558;
  margin-bottom: 18px;
}
@media (min-width: 576px) {
  .nos-service .title-area .title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (min-width: 768px) {
  .nos-service .title-area .title {
    font-size: 60px;
    line-height: 66px;
  }
}
@media (min-width: 992px) {
  .nos-service .title-area .title {
    font-size: 71px;
    line-height: 66px;
  }
}
.nos-service .title-area .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */
  letter-spacing: -0.02em;
  color: #4D4B4B;
}
.nos-service .btn-icon {
  background: #038090;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 20px 93px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .nos-service .btn-icon {
    padding: 12px 40px;
    font-size: 16px;
    line-height: 150%;
  }
}
.nos-service .btn-icon svg,
.nos-service .btn-icon img {
  width: 32px;
  margin-left: 24px;
}
@media (max-width: 575.98px) {
  .nos-service .btn-icon svg,
.nos-service .btn-icon img {
    width: 24px;
    margin-left: 12px;
  }
}
.nos-service .mb-72px {
  margin-bottom: 72px;
}
.nos-service .g-30px {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}
.nos-service .card {
  background: #FFFFFF;
  border: 1px solid #C6DFE8;
  border-radius: 10px;
}
.nos-service .comunity {
  padding: 30px 18px 24px 18px;
  margin-bottom: 26px;
}
.nos-service .comunity .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #103558;
  margin-bottom: 12px;
}
.nos-service .comunity .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #86848D;
  margin-bottom: 32px;
}
.nos-service .comunity .social-icon {
  margin-bottom: 30px;
}
.nos-service .comunity .social-icon .mr-20px {
  margin-right: 20px;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .mr-20px {
    margin-right: 12px;
  }
}
.nos-service .comunity .social-icon .ins {
  max-width: 40px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .ins {
    max-width: 32px;
  }
}
.nos-service .comunity .social-icon .link {
  max-width: 40px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .link {
    max-width: 32px;
  }
}
.nos-service .comunity .social-icon .tiktok {
  max-width: 40px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .tiktok {
    max-width: 32px;
  }
}
.nos-service .comunity .social-icon .fb {
  max-width: 44px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .fb {
    max-width: 36px;
  }
}
.nos-service .comunity .social-icon .tw {
  max-width: 57px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .comunity .social-icon .tw {
    max-width: 47px;
  }
}
.nos-service .comunity .btn-link-icon {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.2448px;
  line-height: 17px;
  text-align: center;
  color: #038090;
  display: inline-flex;
  align-items: center;
}
.nos-service .comunity .btn-link-icon svg {
  width: 12px;
  margin-left: 16px;
}
.nos-service .reference {
  padding: 30px 18px 24px 18px;
}
.nos-service .reference .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #103558;
  margin-bottom: 12px;
}
.nos-service .reference .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #86848D;
  margin-bottom: 32px;
}
.nos-service .reference .social-icon {
  margin-bottom: 30px;
}
.nos-service .reference .social-icon .mr-20px {
  margin-right: 20px;
}
.nos-service .reference .social-icon .ggl {
  width: 34px;
}
.nos-service .reference .social-icon .gstr {
  width: 39px;
}
.nos-service .reference .btn-link-icon {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.2448px;
  line-height: 17px;
  text-align: center;
  color: #038090;
  display: inline-flex;
  align-items: center;
}
.nos-service .reference .btn-link-icon svg {
  width: 12px;
  margin-left: 16px;
}
.nos-service .publicite {
  padding: 30px 31px 33px 36px;
  width: 100%;
  height: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .publicite {
    padding: 30px 20px 33px 20px;
  }
}
.nos-service .publicite .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #103558;
  margin-bottom: 12px;
}
.nos-service .publicite .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #86848D;
  margin-bottom: 48px;
}
.nos-service .publicite .gl-ads {
  max-width: 179px;
  width: 100%;
  margin-bottom: 20px;
}
.nos-service .publicite .fb-ads {
  max-width: 179px;
  width: 100%;
  margin-bottom: 20px;
}
.nos-service .publicite .link-ads {
  max-width: 157px;
  width: 100%;
  margin-bottom: 20px;
}
.nos-service .publicite .tiktok-ads {
  max-width: 142px;
  width: 100%;
  margin-bottom: 66px;
}
.nos-service .publicite .btn-link-icon {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.2448px;
  line-height: 17px;
  text-align: center;
  color: #038090;
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}
.nos-service .publicite .btn-link-icon svg {
  width: 12px;
  margin-left: 16px;
}
.nos-service .inluence {
  padding: 48px 37px 33px 37px;
  height: 100%;
}
@media (max-width: 575.98px) {
  .nos-service .inluence {
    padding: 48px 20px 33px 20px;
  }
}
.nos-service .inluence .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #103558;
  margin-bottom: 12px;
}
.nos-service .inluence .details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #86848D;
  margin-bottom: 48px;
}
.nos-service .inluence .g-x-30px {
  --bs-gutter-x: 30px;
}
@media (max-width: 575.98px) {
  .nos-service .inluence .g-x-30px {
    --bs-gutter-x: 20px;
  }
}
.nos-service .inluence .g-y-28px {
  --bs-gutter-y: 30px;
}
@media (max-width: 575.98px) {
  .nos-service .inluence .g-y-28px {
    --bs-gutter-y: 20px;
  }
}
.nos-service .inluence .av-imgs {
  margin-bottom: 48px;
}
.nos-service .inluence .av-imgs .av {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 99999px;
}
.nos-service .inluence .btn-link-icon {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14.2448px;
  line-height: 17px;
  text-align: center;
  color: #038090;
  display: inline-flex;
  align-items: center;
  margin-top: auto;
}
.nos-service .inluence .btn-link-icon svg {
  width: 12px;
  margin-left: 16px;
}

.quels {
  background: #103558;
  padding: 126px 0px 86px 0px;
}
.quels .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 53px;
  color: #FFFFFF;
  max-width: 823px;
  margin-bottom: 62px;
}
.quels .listi {
  margin-bottom: 34px;
}
.quels .listi .num {
  width: 94px;
  height: 94px;
  background: rgba(27, 28, 49, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #E8F2FF;
  border-radius: 9999px;
  margin-right: 28px;
}
@media (max-width: 575.98px) {
  .quels .listi .num {
    width: 54px;
    height: 54px;
    font-size: 26px;
    line-height: 32px;
  }
}
.quels .listi .d-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #E8F2FF;
  margin-bottom: 5px;
}
.quels .listi .d-details {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16.9px;
  line-height: 32px;
  /* or 192% */
  letter-spacing: -0.02em;
  color: #CCD5ED;
}
.quels .mt-minus {
  margin-top: -120px;
}
.quels .qules-img {
  width: 100%;
}
@media (min-width: 992px) {
  .quels .qules-img {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.quels .btn-icon {
  background: #038090;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  padding: 16px 49px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 575.98px) {
  .quels .btn-icon {
    padding: 12px 30px;
    font-size: 14px;
    line-height: 150%;
  }
}
.quels .btn-icon svg,
.quels .btn-icon img {
  width: 32px;
  margin-left: 24px;
}
@media (max-width: 575.98px) {
  .quels .btn-icon svg,
.quels .btn-icon img {
    width: 24px;
    margin-left: 12px;
  }
}/*# sourceMappingURL=homepage-2.css.map */