.blogarticlepage {
  &.header {
    position: relative !important;
  }

  &.heros {
    margin-top: 48px;
    @include break-up(md) {
      margin-top: 60px;
    }
    @include break-up(lg) {
      margin-top: 80px;
    }
    .badge {
      border-radius: 6px;
      padding: 14px 42px;
    }

    .border-line {
      width: 2px;
      height: 26px;
      background-color: #c4c4c4;
      margin-left: 14px;
      margin-right: 18px;
    }

    .post-date {
      font-size: 16px;
      line-height: 180%;
      color: #7e7979;
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      margin-top: 24px;
      @include break-up(sm) {
        font-size: 30px;
        line-height: 48px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 52px;
        margin-top: 70px;
      }
      @include break-up(xl) {
        font-size: 50px;
        line-height: 70px;
      }
    }

    .heros-img {
      width: 100%;
      height: 350px;
    overflow: hidden; 
      @include break-up(sm) {
        height: 350px;
      }

      @include break-up(lg) {
        height: 550px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

    .paragraph {
      font-size: 14px;
      line-height: 26px;
      margin-top: 16px;
      max-width: 988px;
      @include break-up(md) {
        margin-top: 48px;
      }
      @include break-up(lg) {
        font-size: 18px;
        line-height: 30px;
        margin-top: 58px;
      }
    }
  }

  &.details {
    padding-top: 58px;
    .title-1 {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 16px;
      @include break-up(md) {
        font-size: 20px;
      }
      @include break-up(lg) {
        font-size: 26px;
        margin-bottom: 28px;
      }
    }

    .paragraph-1 {
      font-size: 12px;
      @include break-up(lg) {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }

    .img-1 {
      width: 100%;
      height: 275px;
      margin-bottom: 30px;
      overflow: hidden;
      @include break-up(sm) {
      height: 375px;
      }
      @include break-up(md) {
        margin-bottom: 40px;
        height: 432px;
      }
      @include break-up(lg) {
        margin-bottom: 60px;
        height: 509px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

    .img-2 {
      width: 100%;
      height: 258px;
      margin-bottom: 30px;
      overflow: hidden;
      @include break-up(sm) {
      height: 345px;
      }
      @include break-up(md) {
        margin-bottom: 40px;
        height: 402px;
      }
      @include break-up(lg) {
        margin-bottom: 60px;
        height: 472px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

    .right-side {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      @include break-up(lg) {
        margin-left: auto;
        margin-right: 0;
      }
      .title {
        font-size: 18px;
        line-height: 25px;
        @include break-up(lg) {
          font-size: 22px;
        }
      }

      .paragraph {
        font-size: 12px;
        line-height: 30px;
        color: #625656;
        @include break-up(lg) {
          font-size: 18px;
        }
      }
    }
  }

  &.audit {
    @extend .blogpage.audit;
  }

  &.gallary {
    @extend .homepage.gallary;
  }

  &.blogpost {
    @extend .blogpage.blogpost;
  }
}
