.btn-icon {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  @include break-up(md) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @include break-up(md) {
    padding-left: 60px;
    padding-right: 60px;
  }
  svg {
    width: 24px;
    margin-left: 8px;
    @include break-up(sm) {
      margin-left: 12px;
    }
    @include break-up(md) {
      width: 32px;
    }
  }
}
