.communitypage {
  &.heros {
    .header {
      .navbar {
        .container {
          justify-content: start;
        }
      }

      .navbar-toggler {
        position: static;
        margin-right: 8px;
      }

      .navbar-brand {
        position: static;
      }
    }

    padding-top: 98px;

    @include break-up(sm) {
      padding-top: 100px;
    }

    @include break-up(md) {
      padding-top: 144px;
    }

    @include break-up(xl) {
      padding-top: 184px;
    }

    .blue-background {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      background: #103558;
      width: 50%;
      height: 310px;
      transition: 0.5s ease-in-out;

      @media (min-width: 400px) {
        height: 380px;
      }

      @include break-up(sm) {
        height: 470px;
      }

      @include break-up(md) {
        height: 630px;
        width: 42%;
      }

      @include break-up(lg) {
        height: 580px;
        width: 33%;
      }

      @include break-up(xl) {
        height: 850px;
        width: 32%;
      }

      @include break-up(xxl) {
        height: 840px;
        width: 30%;
      }

      @media (min-width: 1640px) {
        width: 38%;
      }
    }

    .hero-img {
      width: 280px;
      margin-bottom: 24px;

      @media (min-width: 400px) {
        width: 380px;
      }

      @include break-up(sm) {
        width: 100%;
      }

      @include break-up(lg) {
        margin-bottom: 40px;
      }

      @include break-up(lg) {
        width: 125%;
        margin-bottom: 0px;
        margin-left: -120px;
      }

      @include break-up(xl) {
        width: 135%;
        margin-left: -150px;
      }

      @include break-up(xxl) {
        width: 140%;
        margin-left: -200px;
      }
    }

    .title {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 60px;

      @include break-up(md) {
        font-size: 30px;
        line-height: 52px;
        margin-bottom: 72px;
      }

      @include break-up(xl) {
        font-size: 50px;
        line-height: 70px;
      }
    }
  }

  &.testmonial {
    padding-top: 130px;

    .title {
      max-width: 745px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 42px;

      @include break-up(sm) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 38px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 64px;
      }
    }

    .top-indicator {
      background: linear-gradient(90deg,
          #751bcf 2.82%,
          #b62586 46.46%,
          #f7a34b 99.13%);
      width: 128px;
      height: 12px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .iphone {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: flex;
      justify-content: center;

      img {
        filter: drop-shadow(0px 20px 58px rgba(0, 0, 0, 0.13));
        width: 33.3333%;

        @include break-up(sm) {
          width: 140px;
        }

        @include break-up(md) {
          width: 238px;
        }

        @include break-up(lg) {
          width: 258px;
        }

        @include break-up(xl) {
          width: 258px;
        }

        @include break-up(xxl) {
          width: 300px;
        }
      }
    }

    .main-carousel {
      //   height: 560px;

      .carousel-cell {
        width: 33.2%;
        padding-top: 18%;
        padding-bottom: 10%;
        margin-left: 0.6%;
        margin-right: 0.6%;

        @include break-up(sm) {
          padding-top: 13%;
          padding-bottom: 13%;
          margin-left: 12px;
          margin-right: 12px;
        }

        @include break-up(md) {
          padding-top: 17%;
          padding-bottom: 17%;
          margin-left: 6px;
          margin-right: 6px;
        }

        @include break-up(lg) {
          padding-top: 13%;
          padding-bottom: 13%;
          margin-left: 22px;
          margin-right: 22px;
        }

        @include break-up(xl) {
          margin-left: 37px;
          margin-right: 37px;
          padding-top: 11%;
          padding-bottom: 11%;
        }

        @include break-up(xxl) {
          margin-left: 42px;
          margin-right: 42px;
        }

        img {
          width: 95%;
          filter: drop-shadow(0px 20px 58px rgba(0, 0, 0, 0.13));

          @include break-up(sm) {
            width: 120px;
          }

          @include break-up(md) {
            width: 204px;
          }

          @include break-up(lg) {
            width: 222px;
          }

          @include break-up(xl) {
            width: 222px;
          }

          @include break-up(xxl) {
            width: 260px;
          }
        }

        &.is-selected {
          img {
            margin-left: auto;
            margin-right: auto;
            filter: none;
          }
        }
      }

      .flickity-page-dots {
        display: none;

        @include break-up(lg) {
          display: inline;
        }
      }
    }
  }

  &.client {
    padding-top: 130px;

    .title {
      max-width: 745px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;

      @include break-up(sm) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 34px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 56px;
      }
    }

    .columbus {
      width: 26px;

      @include break-up(sm) {
        width: 33px;
      }

      @include break-up(lg) {
        width: 49px;
      }
    }

    .pizzahat {
      width: 87px;

      @include break-up(sm) {
        width: 93px;
      }

      @include break-up(lg) {
        width: 132px;
      }
    }

    .mrbricolage {
      width: 96px;

      @include break-up(sm) {
        width: 117px;
      }

      @include break-up(lg) {
        width: 150px;
      }
    }
  }

  &.cta {
    padding-top: 90px;
    padding-bottom: 100px;

    @include break-up(sm) {
      padding-top: 100px;
    }

    @include break-up(md) {
      padding-top: 130px;
    }

    @include break-up(xl) {
      padding-top: 158px;
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 32px;

      @include break-up(sm) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 40px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
      }
    }

    .t-title-box {
      .border-bar {
        width: 38px;
        height: 3px;
        background-color: #ee628f;
      }

      @include break-up(md) {
        width: 182px;
        min-width: 182px;
        margin-right: 74px;
      }

      .t-title {
        font-size: 14px;

        @include break-up(md) {
          font-size: 16px;
        }
      }
    }

    .t-paragraph {
      font-size: 14px;
      color: #5f5f5f;

      @include break-up(md) {
        font-size: 18px;
      }
    }
  }

  &.howitworks {
    padding-top: 66px;
    padding-bottom: 54px;

    @include break-up(md) {
      padding-top: 108px;
      padding-bottom: 80px;
    }

    background: #103558;
    position: relative;
    margin-bottom: 137px;
    overflow: hidden;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      height: 338px;

      @include break-up(sm) {
        height: 440px;
      }

      @include break-up(md) {
        height: 520px;
      }

      @include break-up(lg) {
        height: 660px;
      }
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 48px;

      @include break-up(sm) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 30px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 60px;
      }
    }

    .step {
      position: relative;
    }

    .number {
      color: #22437d;
      font-size: 20px;
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 28px;
      background-color: #fff;

      @include break-up(md) {
        margin-right: 0px;
      }

      @include break-up(lg) {
        font-size: 30px;
        width: 72px;
        height: 72px;
      }
    }

    .step-number {
      margin-right: 20px;

      @include break-up(md) {
        margin-right: 0px;
        margin-bottom: 20px;
        position: relative;
      }

      @include break-up(lg) {
        margin-bottom: 38px;
      }
    }

    .arrow {
      position: absolute;
      top: 48px;
      left: 20px;
      width: 100%;
      height: 100%;
      transform: translate(0%, 0%);

      @include break-up(md) {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        height: auto;
        transform: translate(-90%, 0%);
      }

      svg {
        height: 40%;

        @include break-up(md) {
          height: auto;
          width: 80%;
        }
      }
    }

    .work-title {
      font-size: 16px;

      @include break-up(lg) {
        font-size: 20px;
      }
    }
  }

  &.feature {
    padding-bottom: 90px;

    @include break-up(md) {
      padding-bottom: 130px;
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;

      @include break-up(sm) {
        font-size: 30px;
        line-height: 43px;
        margin-bottom: 24px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 42px;
      }

      .emoji {
        width: 20px;

        @include break-up(sm) {
          width: 30px;
        }

        @include break-up(lg) {
          width: 30px;
        }
      }
    }

    .sub-title {
      font-size: 16px;

      @include break-up(md) {
        font-size: 22px;
      }
    }

    .list {
      &:not(:last-child) {
        margin-bottom: 16px;

        @include break-up(md) {
          margin-bottom: 34px;
        }
      }
    }

    .check-icon {
      width: 22px;
      min-width: 22px;
      margin-right: 8px;

      @include break-up(md) {
        margin-right: 18px;
        width: 32px;
        min-width: 32px;
      }
    }

    .list-text {
      font-size: 14px;

      @include break-up(md) {
        font-size: 18px;
      }
    }
  }

  &.blog {
    padding-bottom: 100px;

    @include break-up(md) {
      padding-bottom: 130px;
    }

    @include break-up(lg) {
      padding-bottom: 140px;
    }

    .card {
      background: #ffffff;
      box-shadow: 0px 20px 20px rgba(18, 17, 39, 0.03);
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 36px;

      .card-img-top {
        width: 100%;
        height: 170px;
        overflow: hidden;

        @include break-up(lg) {
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 300ms ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .card-body {
        padding: 20px;

        @include break-up(xl) {
          padding: 32px 24px;
        }

        .sub-title {
          font-size: 12px;

          @include break-up(md) {
            font-size: 14px;
          }
        }

        .title {
          font-size: 12px;
          margin-bottom: 6;

          @include break-up(md) {
            font-size: 16px;
            margin-bottom: 12;
          }

          @include break-up(lg) {
            font-size: 18px;
          }

          @include break-up(xl) {
            font-size: 20px;
          }
        }

        .card-text {
          font-size: 11px;
          color: rgba(18, 17, 39, 0.56);

          @include break-up(md) {
            font-size: 14px;
          }
        }
      }
    }
  }
}