.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  .toggled {
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    @include break-up(md) {
      background-color: transparent;
    }
  }

  .navbar {
    .container {
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
    }
  }
  .navbar-brand .logo-color {
    fill: currentColor;
  }

  .navbar-toggler {
    position: absolute;
    top: 32px;
    left: 10px;
    z-index: 2;
  }
  .navbar-brand {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    z-index: 1;
    @include break-up(md) {
      position: static;
    }
  }

  .nav-menus {
    margin-top: 32px;
    @include break-up(md) {
      margin-right: 48px;
      margin-top: 0px;
    }
    @include break-up(lg) {
      margin-right: 120px;
    }
    @include break-up(xl) {
      margin-right: 100px;
    }
    @include break-up(xxl) {
      margin-right: 154px;
    }

    li {
      @include break-up(md) {
        margin-left: 16px;
      }
      @include break-up(lg) {
        margin-left: 32px;
      }
    }
  }

  .social-icon {
    li {
      margin-right: 28px;
    }
  }

  .divider {
    display: none;
    @include break-up(md) {
      display: inline;
      height: 24px;
      width: 1px;
      background: #fff;
      margin-right: 24px;
    }
  }

  .dropdown {
    .btn {
      width: 100%;
      @include break-up(md) {
        width: auto;
        padding: 14px 44px !important;
      }
    }
  }
}
