.influence {
  &.header {
    position: relative !important;
  }

  &.heros {
    padding-top: 8px;
    @include break-up(sm) {
      padding-top: 20px;
    }

    @include break-up(lg) {
      padding-top: 108px;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 18px;
      @include break-up(sm) {
        font-size: 20px;
        margin-bottom: 24px;
      }
      @include break-up(lg) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    .title {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 60px;
      @include break-up(sm) {
        font-size: 26px;
      }
      @include break-up(md) {
        font-size: 30px;
        line-height: 52px;
        margin-bottom: 72px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 52px;
      }
      @include break-up(xl) {
        font-size: 44px;
        line-height: 52px;
      }
      @include break-up(xxl) {
        font-size: 54px;
        line-height: 73px;
      }
    }

    .btn-icon {
      @include break-up(md) {
        padding-left: 32px;
        padding-right: 32px;
      }
      @include break-up(lg) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
    .big-img {
      aspect-ratio: 16 / 8;
      object-fit: cover;
      object-position: top;
      border-radius: 12px;
    }

    .img-1 {
      aspect-ratio: 16 / 10;
      object-fit: cover;
      object-position: top;
      border-radius: 12px;
    }
  }

  &.team {
    padding-top: 84px;
    @include break-up(sm) {
      padding-top: 130px;
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      max-width: 1140px;
      margin-bottom: 32px;
      @include break-up(sm) {
        font-size: 26px;
        line-height: 46px;
        margin-bottom: 38px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 64px;
        margin-bottom: 50px;
      }
    }

    .main-carousel {
      margin-left: -20px;
      margin-right: -20px;
      @include break-up(sm) {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 46px;
      }
      @include break-up(md) {
        margin-bottom: 46px;
      }
      @include break-up(sm) {
        margin-bottom: 54px;
      }

      .carousel-cell {
        min-width: 200px;
      }
      .avater {
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: top;
      }
      .prof-title {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 2px;
      }
      .username {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 2px;
      }

      .sub-text {
        font-size: 12px;
        color: rgba(18, 17, 39, 0.56);
      }

      .button-view {
        padding: 10px 18px;
        border: 1px solid rgba(18, 17, 39, 0.12);
        border-radius: 8px;
        text-decoration: underline;
      }
    }

    .sub-title {
      font-size: 20px;
      margin-bottom: 76px;
    }
  }

  &.client {
    padding-top: 130px;

    .title {
      max-width: 745px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 30px;
      @include break-up(sm) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 34px;
      }

      @include break-up(lg) {
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 56px;
      }
    }

    .columbus {
      width: 26px;
      @include break-up(sm) {
        width: 33px;
      }
      @include break-up(lg) {
        width: 49px;
      }
    }

    .pizzahat {
      width: 87px;
      @include break-up(sm) {
        width: 93px;
      }
      @include break-up(lg) {
        width: 132px;
      }
    }

    .mrbricolage {
      width: 96px;
      @include break-up(sm) {
        width: 117px;
      }
      @include break-up(lg) {
        width: 150px;
      }
    }
  }

  &.howitworks {
    padding-top: 100px;
    @include break-up(md) {
      padding-top: 130px;
    }
    .title {
      font-size: 20px;
      line-height: 32px;
      max-width: 1140px;
      margin-bottom: 38px;
      @include break-up(sm) {
        font-size: 26px;
        line-height: 46px;
        margin-bottom: 40px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 64px;
        margin-bottom: 80px;
      }
    }

    .step {
      font-size: 24px;
      margin-right: 20px;
      @include break-up(lg) {
        font-size: 40px;
        line-height: 54px;
      }
    }

    .step-tile {
      font-size: 1rem;
      margin-bottom: 16px;
      @include break-up(md) {
        margin-bottom: 22px;
      }
      @include break-up(lg) {
        margin-bottom: 38px;
      }
    }

    .step-img {
      aspect-ratio: 16 / 8;
      object-fit: cover;
      object-position: center;
      width: 100%;
      border-radius: 8px;
      margin-bottom: 32px;
      @include break-up(md) {
        margin-bottom: 48px;
      }
      @include break-up(lg) {
        margin-bottom: 42px;
      }
    }

    .step-list {
      .btn-icon {
        @include break-up(md) {
          padding-left: 32px;
          padding-right: 32px;
        }
        @include break-up(lg) {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }
  }

  &.research {
    padding-bottom: 75px;
    @include break-up(sm) {
      padding-bottom: 45px;
    }
    @include break-up(lg) {
      padding-bottom: 80px;
    }
    .title {
      font-size: 20px;
      line-height: 32px;
      max-width: 1140px;
      margin-bottom: 12px;
      @include break-up(sm) {
        font-size: 26px;
        line-height: 46px;
        margin-bottom: 24px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 64px;
      }
    }

    .sub-title {
      font-size: 1.5rem;
      line-height: 2.125rem;
      max-width: 1012px;
      margin-bottom: 20px;
    }

    .research-card {
      background: #ffffff;
      box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.18);
      border-radius: 12px;
      padding: 18px 13px 40px 13px;
      @include break-up(md) {
        padding: 18px 13px;
      }
      position: relative;

      .select-area {
        border: 1px solid rgba(177, 177, 177, 0.3);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px 18px;

        @include break-up(md) {
          padding: 16px 14px;
        }

        .dropdown {
          .dropdown-toggle {
            position: relative !important;
            text-align: left;
            &::after {
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin-top: 28px;
              margin-right: 16px;
            }
          }
          .title {
            font-size: 12px;
            line-height: 12px;
            @include break-up(lg) {
              font-size: 14px;
              line-height: 14px;
            }
            margin-bottom: 12px;
            color: #333333;
          }

          .subtitle {
            font-size: 14px;
            line-height: 14px;
            @include break-up(lg) {
              font-size: 16px;
              line-height: 16px;
            }
            color: #a3a5a7;
          }
        }
      }

      .button {
        padding: 10px 32px;
        @include break-up(lg) {
          padding: 20px 60px;
        }
        @include break-up(xl) {
          padding: 26px 90px;
        }
      }

      .button-position {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(50%);
        @include break-up(md) {
          position: static;
          transform: translateY(0%);
        }
      }

      .divider {
        &:not(:last-child) {
          border-bottom: 1px solid rgba(177, 180, 183, 0.3);
          @include break-up(md) {
            border-bottom: 0px solid rgba(177, 180, 183, 0.3);
            border-right: 1px solid rgba(177, 180, 183, 0.3);
          }
        }
      }
    }
  }

  &.testmonial {
    padding-bottom: 90px;
    @include break-up(md) {
      padding-bottom: 130px;
    }
    .card {
      border: 0;
      border-radius: 24px 24px 24px 24px;
      overflow: hidden;
      box-shadow: 10px 10px 48px rgba(0, 0, 0, 0.1);
      .card-img-top {
        object-fit: cover;
        object-position: center;
        height: 220px;
        @include break-up(md) {
          height: 240px;
        }
        @include break-up(lg) {
          height: 300px;
        }
      }
      .card-body {
        padding: 12px;
        @include break-up(lg) {
          padding: 18px;
        }

        .card-title {
          font-size: 16px;
          color: #3a3a3a;
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include break-up(md) {
            font-size: 22px;
            margin-bottom: 6px;
          }
          @include break-up(lg) {
            font-size: 22px;
          }
        }

        .card-text {
          font-size: 12px;
          margin-bottom: 14px;
          color: #898989;
          @include break-up(lg) {
            font-size: 16px;
            margin-bottom: 22px;
          }
        }

        .avater {
          width: 42px;
          height: 42px;
          margin-right: 10px;
          object-fit: cover;
          object-position: center;
          @include break-up(lg) {
            width: 56px;
            height: 56px;
          }
        }

        .avater-name {
          font-size: 12px;
          color: #5f5f5f;
        }
      }
    }
  }

  &.cta {
    margin-bottom: 100px;
    @include break-up(md) {
      margin-bottom: 130px;
    }
    .cta-card {
      background-color: rgba(49, 181, 208, 0.3);
      border-radius: 129px 20px 20px 20px;
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      padding: 102px 40px;
      position: relative;
      overflow: hidden;
      .title {
        font-size: 20px;
        margin-bottom: 40px;
        @include break-up(md) {
          font-size: 24px;
          margin-bottom: 32px;
        }
        @include break-up(md) {
          font-size: 30px;
          margin-bottom: 72px;
        }
      }

      .left-design {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateX(-100px);
        z-index: -1;
        width: 260px;
        @include break-up(sm) {
          width: 300px;
        }
        @include break-up(md) {
          width: 400px;
        }
        @include break-up(lg) {
          width: 480px;
        }
      }
      .right-design {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 190px;
        @include break-up(sm) {
          width: 210px;
        }
        @include break-up(md) {
          width: 240px;
        }
        @include break-up(lg) {
          width: 264px;
        }
      }
    }
  }
}
