.referencementpage {
  &.header {
    position: relative !important;
  }

  &.heros {
    overflow: hidden;
    padding-top: 30px;
    @include break-up(md) {
      padding-top: 40px;
    }
    @include break-up(lg) {
      padding-top: 60px;
    }
    .subtitle {
      font-size: 16px;
      margin-bottom: 22px;
      @include break-up(md) {
        font-size: 22px;
        margin-bottom: 24px;
      }
      @include break-up(lg) {
        margin-bottom: 28px;
      }
    }

    .title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 10px;
      @include break-up(md) {
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 120px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 62px;
      }
      @include break-up(xl) {
        font-size: 50px;
        line-height: 73px;
        margin-bottom: 62px;
      }
    }

    .hero-img {
      width: 120%;
      @include break-up(md) {
        width: 150%;
      }
    }
  }

  &.feature {
    padding-top: 80px;
    padding-bottom: 100px;
    @include break-up(md) {
      padding-top: 116px;
      padding-bottom: 130px;
    }
    @include break-up(lg) {
      padding-top: 140px;
    }
    overflow: hidden;
    .leftside-design {
      position: absolute;
      left: 0;
      top: 50px;
      width: 80px;
      @include break-up(md) {
        width: 110px;
      }
      @include break-up(lg) {
        width: 180px;
      }
    }
    .rightside-design {
      position: absolute;
      right: 0;
      bottom: 90px;
      width: 80px;
      transform: translateX(30px);
      @include break-up(md) {
        width: 148px;
      }
      @include break-up(lg) {
        width: 196px;
      }
    }

    .content {
      max-width: 1054px;

      .title {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 50px;
        @include break-up(md) {
          font-size: 26px;
          line-height: 43px;
          margin-bottom: 40px;
        }
        @include break-up(lg) {
          font-size: 40px;
          line-height: 64px;
          margin-bottom: 32px;
        }
      }

      .check-area {
        max-width: 900px;

        .col-md-6 {
          margin-bottom: 40px;
        }

        .check-icon {
          width: 28px;
          min-width: 28px;
          margin-right: 16px;
          margin-top: 4px;
          @include break-up(md) {
            margin-right: 20px;
          }
        }

        .check-text {
          font-size: 16px;
          color: #637381;
          @include break-up(lg) {
            font-size: 16px;
          }
        }
      }

      .title-2 {
        font-size: 12px;
        max-width: 714px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        @include break-up(md) {
          font-size: 18px;
          margin-top: 40px;
          margin-bottom: 70px;
        }
        @include break-up(lg) {
          font-size: 26px;
          margin-top: 70px;
        }
      }
    }
  }

  &.content {
    padding-top: 82px;

    .leftside-design {
      position: absolute;
      left: 0;
      bottom: 240px;
      width: 80px;
      @include break-up(md) {
        width: 110px;
      }
      @include break-up(lg) {
        width: 180px;
      }
    }
    .rightside-design {
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 80px;
      transform: translateX(30px);
      @include break-up(md) {
        width: 148px;
      }
      @include break-up(lg) {
        width: 196px;
      }
    }
    .main-title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 32px;
      @include break-up(md) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 40px;
      }
      @include break-up(lg) {
        font-size: 40px;
        line-height: 64px;
        margin-bottom: 44px;
      }
    }

    .content-1 {
      margin-bottom: 40px;
      .sub-title {
        font-size: 12px;
        margin-bottom: 12px;
        @include break-up(sm) {
          font-size: 14px;
        }
        @include break-up(md) {
          font-size: 16px;
          margin-bottom: 18px;
        }
        @include break-up(lg) {
          margin-bottom: 22px;
        }
      }

      .title {
        font-size: 16px;
        margin-bottom: 10px;
        @include break-up(sm) {
          font-size: 18px;
        }
        @include break-up(md) {
          font-size: 20px;
          margin-bottom: 8px;
        }
        @include break-up(lg) {
          font-size: 30px;
          margin-bottom: 14px;
        }
      }

      .paragraph {
        font-size: 14px;
        max-width: 547px;
        color: #5f5f5f;
        letter-spacing: 0.01em;
        margin-right: auto;
        margin-left: auto;
        @include break-up(sm) {
          font-size: 16px;
        }
        @include break-up(md) {
          font-size: 18px;
          margin-left: 0;
        }
      }
    }

    .content-2 {
      @extend .content-1;
    }

    .content-3 {
      @extend .content-1;
      .paragraph {
        max-width: 403px;
      }
    }

    .content-4 {
      @extend .content-1;
      .paragraph {
        max-width: 576px;
      }
    }
  }

  &.cta {
    padding-bottom: 80px;
    @include break-up(md) {
      padding-bottom: 100px;
    }
    @include break-up(lg) {
      padding-bottom: 130px;
    }
    .card {
      max-width: 955px;
      border: 0;
      background: #ffffff;
      box-shadow: -8px 30px 80px -9px rgba(82, 82, 82, 0.11);
      border-radius: 8px;
      padding: 40px 28px 54px 28px;
      margin-bottom: 60px;
      @include break-up(md) {
        padding: 32px 106px 32px 106px;
        margin-bottom: 72px;
      }
      @include break-up(lg) {
        padding: 12px 106px 32px 106px;
      }

      .youtube-logo {
        width: 90px;
        @include break-up(md) {
          width: 100px;
        }
      }

      .paragraph {
        font-size: 16px;
        @include break-up(md) {
          font-size: 20px;
        }
      }
    }
  }

  &.cta-2 {
    background-color: #edeff1;
    padding-top: 50px;
    padding-bottom: 48px;
    @include break-up(md) {
      padding-top: 90px;
      padding-bottom: 150px;
    }
    @include break-up(lg) {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 4px;
      @include break-up(md) {
        font-size: 26px;
        line-height: 43px;
        margin-bottom: 14px;
      }
      @include break-up(lg) {
        font-size: 32px;
        line-height: 64px;
        margin-bottom: 20px;
      }
      @include break-up(xl) {
        font-size: 40px;
        line-height: 64px;
        margin-bottom: 20px;
      }
    }

    .paragraph {
      font-size: 16px;
      line-height: 152%;
      letter-spacing: -0.03em;
      color: #878080;
      margin-bottom: 28px;
      @include break-up(md) {
        font-size: 18px;
        margin-bottom: 40px;
      }
      @include break-up(lg) {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    .sub-title {
      font-size: 16px;
      margin-bottom: 60px;
      line-height: 152%;
      letter-spacing: -0.03em;
      @include break-up(md) {
        font-size: 20px;
        margin-bottom: 72px;
      }
      @include break-up(lg) {
        font-size: 24px;
        margin-bottom: 72px;
      }
    }
  }
}
