.fill-current {
  fill: currentColor;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

// Font Size
.text-12px {
  font-size: 12px;
}

.text-14px {
  font-size: 0.875rem;
}

.text-15px {
  font-size: 0.9375rem;
}
.text-18px {
  font-size: 1.125rem;
}

.text-20px {
  font-size: 1.25rem;
}
.text-22px {
  font-size: 1.375rem;
}

.text-26px {
  font-size: 1.625rem;
}

// Font-familly
.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}
.font-rubik {
  font-family: "Rubik", sans-serif !important;
}
.font-lato {
  font-family: "Lato", sans-serif !important;
}
.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.font-lexend {
  font-family: "Lexend Deca", sans-serif !important;
}

// Font Weight
.fw-light {
  font-weight: 300 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-extrabold {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}

// Margin
.mb-20px {
  margin-bottom: 20px;
}

.mb-36px {
  margin-bottom: 36px;
}
.mb-44px {
  margin-bottom: 44px;
}
.mb-70px {
  margin-bottom: 70px;
}
.mb-72px {
  margin-bottom: 72px;
}
.mt-72px {
  margin-top: 72px;
}

.mb-md-84px {
  @include break-up(md) {
    margin-bottom: 84px;
  }
}
.mt-140px {
  margin-top: 140px;
}

.ms-26px {
  margin-left: 26px;
}
.-ms-md-32px {
  @include break-up(md) {
    margin-left: -32px;
  }
}

.-mx-lg-24px {
  @include break-up(lg) {
    margin-left: -24px;
    margin-right: -24px;
  }
}

// Max Width
.max-w-120px {
  max-width: 120px;
}

.max-w-336px {
  max-width: 336px;
}

.max-w-745px {
  max-width: 745px;
}

.max-w-1054px {
  max-width: 1054px;
}

.text-xl-nowrap {
  @include break-up(xl) {
    white-space: nowrap;
  }
}

.opacity-65 {
  opacity: 0.65;
}
