@import "responsive";
@import "utilities";
@import "colors";
@import "components";

// Component
@import "header";
@import "footer";

// Pages
@import "homepage";
@import "cardpage";
@import "communitypage";

// Font Responsive
html {
  font-size: 12px !important;

  @media (min-width: 768px) {
    font-size: 14px !important;
  }
  @media (min-width: 992px) {
    font-size: 16px !important;
  }
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  @include break-up(xxl) {
    max-width: 1320px;
  }
}
