// @import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('../font/style.css');
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/metamorphous');

.font-gilroy-bold {
    font-family: 'Gilroy-Bold', sans-serif;
}

.font-gilroy-heavy {
    font-family: 'Gilroy-Heavy', sans-serif;
}

.font-gilroy-light {
    font-family: 'Gilroy-Light', sans-serif;
}

.font-gilroy-medium {
    font-family: 'Gilroy-Medium', sans-serif;
}

.font-gilroy {
    font-family: 'Gilroy-Regular', sans-serif;
}


.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-dmsans {
    font-family: 'DM Sans', sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.font-sf-pro {
    font-family: 'SF Pro Display', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

// Font Weight
.fw-light {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-extrabold {
    font-weight: 800 !important;
}

.fw-black {
    font-weight: 900 !important;
}