@import "style";

.header {
    .toggled {
        background-color: rgba(255, 255, 255, 0.3) !important;

        @include br-up(md) {
            background-color: transparent !important;
        }
    }

    .navbar-collapse {
        padding-top: 60px;
        ;

        @include br-up(md) {
            padding-top: 0px;
        }
    }

    .btn-white {
        font-family: 'Gilroy-Bold';
        font-size: 16px;
        line-height: 150%;
        color: #328090;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        padding: 12px 28px;
        margin-bottom: 32px;

        @include br-up(md) {
            margin-right: 32px;
            margin-bottom: 0px;
        }
    }

    .btn-primary-g {
        background: #328090;
        border-radius: 10px;
        font-family: 'Gilroy-Bold';
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 12px 60px;
    }
}


.heros {
    position: relative;
    width: 100%;

    .heros-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        object-position: center;
    }

    .bg-shade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(173.3deg, rgba(255, 255, 255, 0) 19.89%, rgba(64, 64, 64, 0.46) 69.18%);
    }

    .card-area {
        padding-top: 312px;
        padding-bottom: 50px;
    }

    .card-1 {
        max-width: 514px;
        width: 100%;
        background: rgba(33, 33, 33, 0.3);
        backdrop-filter: blur(15.5px);
        padding: 44px 44px 32px 44px;

        .title {
            font-family: 'Gilroy-Bold';
            font-size: 56px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;

            @include br-down(lg) {
                font-size: 48px;
            }

            @include br-down(md) {
                font-size: 40px;
            }

            @include br-down(sm) {
                font-size: 32px;
            }
        }

        .details {
            font-family: 'Gilroy-Medium';
            font-size: 26px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 36px;

            @include br-down(lg) {
                font-size: 24px;
            }

            @include br-down(md) {
                font-size: 20px;
            }

            @include br-down(sm) {
                font-size: 18px;
            }
        }

        .btn-praimary-2 {
            font-family: 'Gilroy-Bold';
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            background: #328090;
            border-radius: 10px;
            max-width: 374px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding: 24px 24px;

            @include br-down(lg) {
                font-size: 18px;
                padding: 20px 24px;
            }

            @include br-down(md) {
                font-size: 16px;
                padding: 16px 24px;
            }

        }
    }

}


.client {
    margin-top: 97px;
    padding: 50px 24px 42px 24px;
    border-top: 1px solid rgba(196, 196, 196, 0.3);
    border-bottom: 1px solid rgba(196, 196, 196, 0.3);
    margin-bottom: 8px;

    .max-w-788px {
        max-width: 788px;
        margin: 0 auto;
    }

    .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 53px;
        text-align: center;
        color: #10375C;
        margin-bottom: 32px;

        @include br-down(lg) {
            font-size: 30px;
            line-height: 45px;
        }

        @include br-down(sm) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .pizza-hut {
        width: 124px;
        min-width: 124px;
    }

    .laforet {
        width: 118px;
        min-width: 118px;
    }

    .carglass {
        width: 100px;
        min-width: 100px;
    }

    .dessange {
        width: 103px;
        min-width: 103px;
    }

    .ixina {
        width: 93px;
        min-width: 93px;
    }

    .mrdriologe {
        width: 101px;
        height: 19px;
        min-width: 101px;
    }

    .securitest {
        width: 112px;
        min-width: 112px;
    }

    .columbia {
        width: 98px;
        min-width: 98px;
    }

    .panda {
        width: 40px;
        min-width: 40px;
    }
}

.visibility {
    padding-top: 96px;
    padding-bottom: 96px;

    @include br-up(lg) {
        margin-bottom: -40px;
        padding-bottom: 0px;

    }

    .title-box {
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(18, 17, 39, 0.12);

        .title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 52px;
            /* identical to box height, or 137% */
            text-align: center;
            letter-spacing: -0.4px;

            color: #000000;
            margin-bottom: 8px;

            @include br-down(lg) {
                font-size: 32px;
            }

            @include br-down(sm) {
                font-size: 24px;
                line-height: 32px;

            }

            span {
                color: #31B997;
            }
        }

        .details {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            /* or 178% */

            text-align: center;

            color: rgba(0, 0, 0, 0.4);
            max-width: 772px;
            margin: 0 auto;

            @include br-down(lg) {
                font-size: 16px;
                line-height: 24px;

            }

            @include br-down(sm) {
                font-size: 14px;
                line-height: 20px;

            }
        }
    }

    .v-img-box {
        width: 500px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;

        @include br-up(lg) {
            height: auto;
            margin-left: 0;
            margin-right: 0;
            width: auto;
        }
    }

    .v-img {
        width: 500px;
        margin-top: -50px;

        @include br-up(lg) {
            min-width: 800px;
            width: 800px;
            margin-top: -100px;
            margin-bottom: 0px;
        }
    }

    .d-box {
        @include br-up(lg) {
            max-width: 744px;
            width: 100%;
            flex-shrink: 0;
            margin-top: 40px;
        }

        .v-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height, or 133% */

            text-align: center;

            color: #038090;
            margin-bottom: 10px;

            @include br-down(md) {
                font-size: 20px;
                line-height: 26px;
            }
        }

        .v-list {
            padding: 20px 0px;
            border-bottom: 1px solid rgba(18, 17, 39, 0.12);
            height: 100%;

            .icon {
                width: 20px;
                flex-shrink: 0;
                margin-right: 12px;
                margin-top: 4px;
            }

            .v-details {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                /* or 157% */


                color: #191B1D;
                margin-bottom: 0;
            }
        }

        .mb-56px {
            margin-bottom: 56px;
        }

        .max-w-552px {
            max-width: 552px;
        }

        .btn-icon {
            background: #038090;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            padding: 16px 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            width: 100%;
            justify-content: center;

            @include br-down(sm) {
                padding: 12px 40px;
                font-size: 16px;
                line-height: 150%;
            }

            svg,
            img {
                width: 32px;
                margin-left: 24px;

                @include br-down(sm) {
                    width: 24px;
                    margin-left: 12px;
                }
            }
        }
    }
}

.ameliorer {
    position: relative;
    background: #F8FBFF;
    padding-bottom: 105px;
    margin-bottom: 10px;

    .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 52px;
        letter-spacing: -0.4px;
        color: #328090;
        margin-bottom: 30px;
        max-width: 570px;

        @include br-down(lg) {
            font-size: 32px;
            line-height: 45px;
            max-width: auto;

        }

        @include br-down(md) {
            font-size: 28px;
            line-height: 40px;
        }

        @include br-down(sm) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .details {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;

        color: rgba(21, 20, 57, 0.4);
        margin-bottom: 56px;

        @include br-down(lg) {
            font-size: 20px;
            line-height: 28px;
        }

        @include br-down(md) {
            font-size: 18px;
            line-height: 26px;
        }

        @include br-down(sm) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .btn-icon {
        background: #31B997;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        padding: 16px 44px;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;

        @include br-down(sm) {
            padding: 12px 32px;
            font-size: 16px;
            line-height: 150%;
        }

        svg,
        img {
            width: 32px;
            margin-left: 24px;
            flex-shrink: 0;

            @include br-down(sm) {
                width: 24px;
                margin-left: 12px;
            }
        }
    }

    .g-20px {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .cmt-img {
        width: 100%;

        @include br-up(xl) {
            margin-top: -40px;

        }
    }

    .mt-32px {
        margin-top: 32px;
    }

    .row-gutter {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 40px;

        @include br-up(xl) {
            --bs-gutter-x: 68px;
            --bs-gutter-y: 68px;
        }

        @include br-up(lg) {
            --bs-gutter-x: 20px;
            --bs-gutter-y: 20px;
        }

        @include br-up(md) {
            --bs-gutter-x: 68px;
            --bs-gutter-y: 68px;
        }
    }

    .features {
        .icon {
            height: 37px;
            margin-bottom: 36px;
        }

        .f-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #363940;
            margin-bottom: 16px;
        }

        .f-details {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 156%;
            color: #8B8C8C;
        }
    }

}