@import "style";

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .toggled {
        background-color: #fff;
        transition: all 0.5s ease-in-out;

        @include br-up(md) {
            background-color: transparent;
        }
    }

    .navbar {
        .container {
            padding-top: 10px;
            padding-bottom: 10px;

            @include br-up(lg) {
                padding-top: 32px;
                padding-bottom: 32px;
            }

            position: relative;
        }
    }

    .navbar-brand .logo-color {
        fill: currentColor;
    }

    .navbar-toggler {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    .navbar-brand {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        display: inline-block;
        z-index: 1;

        @include br-up(md) {
            position: static;
        }
    }

    .nav-menus {
        margin-top: 32px;

        @include br-up(md) {
            margin-right: 28px;
            margin-top: 0px;
        }

        @include br-up(lg) {
            margin-right: 120px;
        }

        @include br-up(xl) {
            margin-right: 100px;
        }

        @include br-up(xxl) {
            margin-right: 154px;
        }

        li {
            @include br-up(md) {
                margin-left: 12px;
            }

            @include br-up(lg) {
                margin-left: 32px;
            }
        }
    }

    .social-icon {
        li {
            margin-right: 28px;
        }
    }

    .divider {
        display: none;

        @include br-up(md) {
            display: inline;
            height: 24px;
            width: 1px;
            background: #fff;
            margin-right: 16px;
        }

        @include br-up(lg) {
            margin-right: 24px;
        }
    }

    .dropdown {
        .btn {
            width: 100%;

            @include br-up(md) {
                width: auto;
                padding: 8px 24px !important;
            }

            @include br-up(lg) {
                width: auto;
                padding: 14px 44px !important;
            }
        }
    }


}


.text-blue-50 {
    color: #103558 !important;
}

.text-blue-60 {
    color: #183555 !important;
}