@import "style";

.content-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .sidebar-header {
        padding: 22px 60px;
        background: #FFFFFF;

        @include br-down(lg) {
            padding: 22px 20px;

        }

        .hamburger-btn {
            img {
                width: 24px;
            }
        }

        .bell-icon {
            width: 24px;
            position: relative;

            .dot {
                width: 8px;
                height: 8px;
                position: absolute;
                top: 0;
                right: 0;
                background: #ED5B75;
                margin-top: 1px;
                border-radius: 20px;
            }
        }

        .bar {
            width: 1px;
            height: 42px;
            margin: 0px 20px;
            background: #CCD2E3;
        }

        .btn-mission {
            border: 1px solid #328090;
            border-radius: 4px;
            padding: 8px 44px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: #354252;

            @include br-down(md) {
                padding: 8px 24px;
            }
        }
    }

    .main-content {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;

        .container {
            padding-left: 0px;
            padding-right: 0px;
        }

        .content-header {
            margin-bottom: 80px;

            .btn-back {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #030229;
                display: inline-flex;
                align-items: center;

                .icon {
                    width: 26px;
                    margin-right: 16px;
                }
            }

            .btn-success {
                background: #31B997;
                border-radius: 4px;
                padding: 10px 20px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
            }

            .btn-outline {
                background: #FFFFFF;
                border: 1px solid #31B997;
                border-radius: 4px;
                padding: 10px 32px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #31B997;
            }

        }



        .banner {
            background: linear-gradient(180deg, #183555 0%, #084279 100%);
            border-radius: 5px;
            max-height: 250px;

            @include br-down(xl) {
                max-height: 280px;
            }

            @include br-down(lg) {
                max-height: 420px;

            }

            .text-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 136.02%;
                color: #FFFFFF;
                margin-bottom: 50px;

                @include br-down(lg) {
                    margin-bottom: 40px;
                }
            }

            .copy-btn {
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                padding: 16px 24px;
                background: #EE628F;
                box-shadow: 0px 1px 14px #EE628F;
                border-radius: 5px;
                display: inline-flex;
                align-items: center;

                svg {
                    margin-left: 12px;
                    width: 14px;
                }
            }

            .banner-img {
                width: 100%;

                transform: translateY(-8%);

                @include br-up(lg) {
                    width: 110%;
                    transform: translateX(-40px) translateY(-8%);
                }
            }
        }


        .calender-area {
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            margin-bottom: 78px;

            .calender-header {
                padding: 22px;

                .month-dropdown {
                    position: relative;
                    z-index: 5;

                    .btn {
                        background: #31B997;
                        border-radius: 4px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;

                        &::after {
                            display: none;
                        }
                    }
                }

                .calender-page {
                    margin-left: 32px;
                    position: relative;
                    z-index: 1;

                    .arrow-left,
                    .arrow-right {
                        width: 24px;
                        flex-shrink: 0;
                    }

                    .callen-icon {
                        width: 24px;
                        flex-shrink: 0;
                        margin-left: 12px;
                        margin-right: 12px;

                        @include br-up(xl) {
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                    }
                }

                .mnt-year {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-size: 24px;
                    line-height: 29px;
                    color: #585757;
                    margin-right: 8px;
                    margin-top: 8px;
                    margin-bottom: 8px;

                    .mnth {
                        font-weight: 800;
                    }

                    .yr {
                        font-weight: 600;
                    }

                    @include br-up(lg) {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin-left: 100px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }

                    @include br-up(xl) {
                        margin-left: 0px;

                    }
                }
            }

            .calender-weeks {
                background: #D5E4F4;
                border-radius: 0px;
                padding-top: 12px;
                padding-bottom: 12px;

                .day {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #455974;
                    padding-left: 6px;
                    text-transform: uppercase;
                    width: calc(100%/7);
                }
            }

            .calender-dates {
                display: grid;
                grid-template-columns: repeat(7, minmax(0, 1fr));

                .date-box {
                    padding: 14px 6px 8px 6px;
                    box-shadow: 1px 1px 0 0 #E8E8E8;
                    height: 270px;

                    &.prev-day {
                        opacity: 0.5;
                        pointer-events: none;

                    }

                    .date {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: #969696;
                        margin-bottom: 12px;
                        margin-left: 6px;
                    }

                    .cover-photo {
                        position: relative;
                        margin-bottom: 10px;

                        .event-status {
                            position: absolute;
                            left: 8px;
                            top: 12px;
                            z-index: 1;

                            .time {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 15px;
                                color: #FFFFFF;
                                margin-bottom: 0px;
                                margin-left: 8px;
                            }
                        }

                        .photo {
                            aspect-ratio: 16/14;
                            border-radius: 4px;
                            overflow: hidden;
                            position: relative;

                            &::after {
                                content: '';
                                background: linear-gradient(180.3deg, rgba(0, 0, 0, 0.6) 15.89%, rgba(73, 73, 73, 0) 51.49%, rgba(0, 0, 0, 0.6) 82.22%);
                                position: absolute;
                                inset: 0;
                                z-index: 0;

                            }

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .e-status {
                        border-radius: 4px;
                        overflow: hidden;
                        margin-bottom: 10px;

                        .top-bar {
                            border-radius: 4px 0px 0px 4px;
                            width: 100%;
                            height: 4px;
                        }

                        .timer {
                            padding: 8px;

                            .time {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 16px;
                                margin-bottom: 0px;
                                margin-left: 6px;
                            }
                        }

                        &.complete {
                            background: #FFDEF6;

                            .top-bar {
                                background: #A93898;
                            }

                            .timer {
                                color: #A93898;
                            }
                        }

                        &.pending {
                            background: #E6F5F1;

                            .top-bar {
                                background: #00656C;
                            }

                            .timer {
                                color: #00656C;
                            }
                        }
                    }

                    .more-btn {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: #EE628F;
                    }

                }
            }

        }



    }

}