@import "style";

.content-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .sidebar-header {
        padding: 16px 24px;
        background: #FFFFFF;

        @include br-down(lg) {
            padding: 22px 20px;

        }

        .hamburger-btn {
            img {
                width: 24px;
            }
        }

        .search-group {
            margin-left: 16px;

            @include br-up(sm) {
                margin-left: 22px;
            }

            @include br-up(md) {
                margin-left: 42px;
            }

            @include br-up(lg) {
                margin-left: 82px;
            }

            .search-icon {
                width: 24px;
                margin-right: 12px;

                @include br-up(lg) {
                    margin-right: 20px;
                }

            }

            .search-input {
                width: 100%;
                border: 0px;
                box-shadow: none;
                font-size: 14px;
                line-height: 16px;

                &::placeholder {
                    color: #C2CFE0;
                }
            }
        }


        .language {
            background-color: #3AB67D;
            border-radius: 4px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 12px;
            padding: 2px 8px;

            @include br-up(sm) {
                padding: 6px 12px;
            }

            @include br-up(md) {
                font-size: 14px;
            }
        }

        .noti-badge {
            background: #FA7623;
            border-radius: 10px;
            font-size: 10px;
            line-height: 10px;
            color: #FFFFFF;
            font-family: 'Gilroy-Bold', sans-serif;
            padding: 4px 8px;
        }

        .profile-dropdown {
            .profile-icon {
                width: 32px;
                height: 32px;

                @include br-up(sm) {
                    width: 34px;
                    height: 34px;
                }

                @include br-up(md) {
                    width: 37px;
                    height: 37px;
                }

                @include br-up(xl) {
                    width: 46px;
                    height: 46px;
                }
            }

            font-family: 'Gilroy-Bold',
            sans-serif;
            color: #687A92 !important;
            font-size: 13px;

        }

        .dropdown {
            .dropdown-toggle {

                &.show,
                &:hover {
                    color: #0d6efd !important;


                }
            }
        }


        .mission-cms-translation-btn {
            background-color: #328090;
            height: 36px;
            border-radius: 4px;
            padding: 4px 32px 4px 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.08902 6.96902L8.99902 9.87902L11.909 6.96902C11.9785 6.89958 12.0609 6.8445 12.1516 6.80692C12.2423 6.76934 12.3396 6.75 12.4378 6.75C12.536 6.75 12.6332 6.76934 12.7239 6.80692C12.8147 6.8445 12.8971 6.89958 12.9665 6.96902C13.036 7.03845 13.091 7.12089 13.1286 7.21161C13.1662 7.30233 13.1855 7.39957 13.1855 7.49777C13.1855 7.59596 13.1662 7.6932 13.1286 7.78392C13.091 7.87465 13.036 7.95708 12.9665 8.02652L9.52402 11.469C9.45464 11.5385 9.37222 11.5937 9.28149 11.6313C9.19076 11.669 9.0935 11.6883 8.99527 11.6883C8.89704 11.6883 8.79978 11.669 8.70905 11.6313C8.61832 11.5937 8.53591 11.5385 8.46652 11.469L5.02402 8.02652C4.95449 7.95713 4.89933 7.87471 4.8617 7.78398C4.82406 7.69325 4.80469 7.59599 4.80469 7.49777C4.80469 7.39954 4.82406 7.30228 4.8617 7.21155C4.89933 7.12082 4.95449 7.0384 5.02402 6.96902C5.31652 6.68402 5.79652 6.67652 6.08902 6.96902Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 18px 18px;
        }

    }


    .main-content {
        padding: 20px;

        @include br-up(lg) {
            padding: 24px;

        }

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }


        .page-head {
            margin-bottom: 22px;

            .back-btn {
                font-size: 20px;
                line-height: 23px;
                color: #1C1F37;
                padding: 12px 0px;

                svg {
                    margin-right: 20px;
                }
            }

            .btn-calender {
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 6px;
                }

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
                color: #ED5485;
                border: 1px solid #ED5485;
                border-radius: 6px;
                padding: 6px 12px;
                margin-bottom: 16px;

                @include br-up(sm) {
                    margin-right: 20px;
                    margin-bottom: 0px;

                }
            }

            .btn-cycle {
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 6px;
                }

                padding: 6px 12px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;
                background: #ED5485;
                border-radius: 6px;
            }
        }


        .card-1 {
            background: #FFFFFF;
            border-radius: 16px;
            padding: 18px 16px;
            margin-bottom: 30px;
            box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
            filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));

            .card-img {
                width: 100%;
                height: 297px;
                object-fit: cover;
                object-position: top;
                border-radius: 10px;
                margin-bottom: 36px;
            }

            .des-title {
                font-size: 20px;
                line-height: 25px;
                color: #16192C;
            }

            .des-para {
                font-size: 16px;
                line-height: 23px;
                color: #8E8E8E;
                margin-bottom: 30px;
            }

            .res-title {
                font-size: 16px;
                line-height: 25px;
                color: #16192C;
                margin-bottom: 16px;
            }

            .res-para {
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                color: #425466;
            }

            .res-list {
                list-style: none;
                list-style-position: outside;
                padding: 0px;

                li {
                    margin-bottom: 16px;

                    &.icon {
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                    }

                    .check-text {
                        font-size: 14px;
                        line-height: 23px;
                        color: #425466;
                        margin-bottom: 0px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .card-2 {
            background: #FFFFFF;
            border-radius: 16px;
            padding: 68px 24px 48px 24px;
            box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
            filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.24));
            margin-bottom: 30px;

            .title-5 {
                font-size: 20px;
                line-height: 162.02%;
                color: #000000;
                margin-bottom: 16px;

                @include br-down(sm) {
                    font-size: 18px;
                }
            }

            .docs {
                margin-bottom: 20px;
                padding-right: 20px;

                .doc-icon {
                    width: 18px;
                    flex-shrink: 0;
                    margin-right: 16px;
                }

                .doc-title {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 23px;
                    color: #000000;
                    margin-bottom: 0px;
                    margin-right: 16px;

                    @include br-down(sm) {
                        font-size: 14px;
                    }
                }

                .btn-download {
                    background: #EE628F;
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 12px;
                    color: #FFFFFF;
                    flex-shrink: 0;
                    padding: 8px 35px;

                    img {
                        width: 18px;
                        flex-shrink: 0;
                        margin-right: 8px;
                    }

                    @include br-down(sm) {
                        padding: 8px 16px;
                    }
                }

                .down-quote {
                    font-size: 20px;
                    line-height: 23px;
                    font-weight: 600;
                    color: #000000;

                    @include br-down(sm) {
                        font-size: 16px;
                    }
                }
            }

            .border-hr {
                background-color: #E4ECF7;
                opacity: 1;
                margin-bottom: 20px;
            }

            .amount {
                margin-bottom: 20px;
                padding-right: 24px;

                .price-tag {
                    flex-shrink: 0;
                    margin-left: 10px;

                    .price {
                        font-size: 40px;
                        line-height: 47px;
                        letter-spacing: -0.005em;
                        color: #000000;
                        margin-right: 8px;
                        margin-bottom: 0px;

                        @include br-down(sm) {
                            font-size: 32px;
                        }
                    }

                    .ttc {
                        font-size: 14px;
                        line-height: 47px;
                        font-weight: 600;
                        color: #000000;
                        margin-bottom: 0;

                        @include br-down(sm) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .card-3 {
            background: #FFFFFF;
            box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            padding: 28px;
            width: 100%;
            margin-bottom: 28px;

            @include br-down(sm) {
                padding: 16px;
            }

            .roadmap {
                margin-bottom: 64px;

                .step {
                    max-width: 92px;
                    width: 100%;
                    margin-right: 2px;

                    .check-icon {
                        margin-right: 2px;

                        .circle-line {
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                            display: block;
                        }

                        .check {
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                            display: none;
                        }

                        &.active {
                            .check {
                                display: block;
                            }

                            .circle-line {
                                display: none;
                            }
                        }
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: #E2E2E2;
                        border-radius: 50px;
                        overflow: hidden;

                        .progres-line {
                            height: 100%;
                            background: #EE628F;
                            border-radius: 40px;
                        }
                    }

                    .date {
                        font-size: 12px;
                        line-height: 112%;
                        color: #000000;
                        opacity: 0.43;

                        &.active {
                            opacity: 1;
                        }

                        @include br-down(sm) {
                            font-size: 10px;
                        }
                    }
                }
            }

            .title-publication {
                font-size: 20px;
                line-height: 112%;
                color: #000000;
            }

            .track {
                background: #FFFFFF;
                border: 1px solid #F2F2F4;
                border-radius: 10px;
                padding: 16px;

                @include br-down(sm) {
                    padding: 6px;
                }

                .step {
                    max-width: 142px;
                    width: 100%;

                    @include br-down(md) {
                        margin-bottom: 4px;
                    }

                    @include br-down(sm) {
                        max-width: 100px;
                    }

                    .badge {
                        padding: 4px 14px;
                        border-radius: 99px;
                        margin-bottom: 12px;
                        flex-shrink: 0;
                        font-family: 'Nunito';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        color: #030229;
                        background: #FFD66B;

                        &.complete {
                            font-family: 'Montserrat';
                            font-weight: 500;
                            color: #FFFFFF;
                            background: #31B997;
                            box-shadow: 0px 2px 20px 4px rgba(49, 185, 151, 0.35);
                        }

                        @include br-down(sm) {
                            font-size: 10px;
                        }
                    }

                    .date {
                        font-size: 12px;
                        line-height: 112%;
                        color: #000000;
                        opacity: 0.43;

                        &.active {
                            opacity: 1;
                        }
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background: #E2E2E2;
                        border-radius: 50px;
                        margin-top: 14px;

                        .progress-line {
                            height: 100%;
                            background: #31B997;
                            border-radius: 40px;
                        }
                    }
                }
            }

        }

        .card-4 {
            background: #FFFFFF;
            box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            padding: 18px 40px 26px 0px;

            @include br-down(sm) {
                padding: 16px 20px 16px 0px;
            }

            .border-black {
                width: 7px;
                height: 80px;
                background: #000000;
                border-radius: 0px 16px 16px 0px;
                margin-right: 20px;
            }

            .price-tag {
                .total {
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.005em;
                    color: #000000;
                    margin-bottom: 10px;
                }

                .price {
                    font-size: 40px;
                    line-height: 47px;
                    letter-spacing: -0.005em;
                    color: #000000;

                    @include br-down(sm) {
                        font-size: 32px;
                    }
                }
            }

            .btn-mission {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #FFFFFF;
                background: #328090;
                border-radius: 70px;
                padding: 12px 35px;

                @include br-down(sm) {
                    font-size: 14px;
                    padding: 8px 16px;
                }
            }
        }

        .cursor-pointer {
            cursor: pointer;
        }

        .video-popUp {
            .modal-dialog {
                max-width: 1343px;
            }

            .modal-content {
                background: #141313;
                padding: 40px;
                border-radius: 0px;

                .btn-skip {
                    background: #FFFFFF;
                    border: 0.954145px solid #FFFFFF;
                    border-radius: 999px;
                    padding: 8px 40px;
                    font-family: 'Work Sans', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #EE628F;
                    display: flex;
                    align-items: center;
                    margin-bottom: 28px;

                    svg {
                        margin-left: 6px;
                    }
                }

                .video-frame {
                    aspect-ratio: 16/10;

                    .video {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }
}