@import "style";

.content-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .sidebar-header {
        padding: 38px 40px;
        margin-bottom: 20px;

        @include br-down(lg) {
            padding: 22px 20px;
        }

        .back-btn {
            background: #31B997;
            border-radius: 4px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding: 12px 32px;
        }

        .validez-btn {
            .icon {
                width: 24px;
                margin-right: 16px;
                flex-shrink: 0;
            }

            background: #31B997;
            border-radius: 4px;
            padding: 12px 32px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }


    .posts-section {
        max-width: 932px;
        margin-left: auto;
        margin-right: auto;

        .post-card-1 {
            padding: 22px;
            border: 1px solid #F0F6FD;
            box-shadow: 0px 10px 40px rgba(222, 230, 237, 0.4);
            background: #F8FBFF;

            .form-check {
                width: 24px;
                height: 24px;
                margin-right: 30px;

                @include br-down(md) {
                    margin-right: 12px;
                }
            }

            .action-buttons {
                .btn {
                    img {
                        width: 24px;

                        @include br-down(sm) {
                            width: 16px;
                        }
                    }
                }
            }

            .plus-btn-dropdown {
                .plus-btn {
                    width: 64px;
                    height: 64px;
                    background: #FFFFFF;
                    border: 1px solid #EE628F;
                    box-shadow: 0px 10px 40px rgba(161, 166, 172, 0.4);
                    border-radius: 87px;

                    img {
                        pointer-events: none;
                        width: 24px;
                        height: 24px;
                    }

                    @include br-down(md) {
                        img {
                            width: 12px;
                            height: 12px;
                        }

                        width: 30px;
                        height: 30px;
                    }
                }

                .cmt-dropdown {
                    max-width: 377px;
                    width: 377px;
                    background: #FFFFFF;
                    box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07);
                    border-radius: 10px;
                    padding: 28px 20px 20px 28px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 32px;
                    margin-right: 24px;
                    z-index: 10000;

                    .comment {
                        width: 100%;
                        height: 170px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #716B6B;
                        border: none;
                        outline: none;
                        appearance: none;
                    }

                    .btn-cancle {
                        background: #E4ECF7;
                        border-radius: 6px;
                        padding: 12px 20px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 12px;
                        color: #ADAFBD;
                        margin-right: 20px;
                    }

                    .btn-comment {
                        background: #E4ECF7;
                        border-radius: 6px;
                        padding: 12px 20px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 12px;
                        color: #ADAFBD;
                    }

                    .active {
                        .btn-cancle {
                            background: #E4ECF7;
                            border-radius: 6px;
                            padding: 12px 20px;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 12px;
                            color: #505780;
                            margin-right: 20px;
                        }

                        .btn-comment {
                            background: #EE628F;
                            border-radius: 6px;
                            padding: 12px 20px;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 12px;
                            color: #FFFFFF;
                        }
                    }

                    .view_text {
                        height: 100px;
                        border-bottom: 1px solid #E4ECF7;
                    }

                    .cmnt-drop {
                        background: #FFFFFF;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        padding: 10px;
                        width: 110px;
                        min-width: 110px;
                        border: 0px;

                        .dropdown-item {
                            background: rgba(188, 191, 196, 0.1);
                            border-radius: 4px;
                            padding: 6px 10px;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 14px;

                            img {
                                width: 7px;
                                margin-right: 6px;
                            }

                            &.edit-btn {
                                color: #5B93FF;
                            }

                            &.delete-btn {
                                color: #E71D36;
                            }
                        }
                    }

                }
            }

            .card {
                background: #FFFFFF;
                border: 1px solid #F0F6FD;
                box-shadow: 0px 10px 40px rgba(161, 166, 172, 0.4);
                border-radius: 7px;
                padding: 20px 30px;
                width: 100%;
                margin-right: 20px;

                .post-header {
                    margin-bottom: 20px;

                    .your-avater {
                        width: 38px;
                        height: 38px;
                        flex-shrink: 0;
                        margin-right: 8px;
                    }

                    .title {
                        font-size: 13.5px;
                        line-height: 16px;
                        color: #000000;
                        margin-bottom: 0px;
                    }

                    .address {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11.5px;
                        line-height: 14px;
                        color: #000000;
                        margin-bottom: 0px;
                    }
                }

                .carousel {
                    margin-bottom: 20px;

                    .carousel-indicators {
                        margin-bottom: -40px;
                        height: 7px !important;

                        .active {
                            background: #3898F3 !important;
                        }

                        [data-bs-target] {
                            width: 7px !important;
                            height: 7px !important;
                            max-height: 7px;
                            max-width: 7px;
                            display: flex;
                            background: #DBDBDB;
                            border-radius: 999px;
                            border: 0;
                            border-top: 0px solid transparent;
                            border-bottom: 0px solid transparent;
                            opacity: 1;
                        }
                    }
                }

                .card-content {
                    padding-left: 40px;

                    .liked-by {
                        font-weight: 400;
                        font-size: 13.5px;
                        line-height: 16px;
                        letter-spacing: -0.225px;
                        color: #000000;
                        max-block-size: 0px;
                    }

                    .details {
                        max-width: 467px;
                        font-weight: 400;
                        font-size: 13.5px;
                        line-height: 20px;
                        letter-spacing: -0.225px;
                        color: #000000;
                        margin-bottom: 0px;
                    }

                    .hasTag {
                        font-weight: 400;
                        font-size: 13.5px;
                        line-height: 20px;
                        letter-spacing: -0.225px;
                        color: #306197;
                    }
                }

            }





        }

        .post-time {
            padding: 20px;

            .timer-icon {
                width: 24px;
                height: 24px;
            }

            .time {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #000000;

                @include br-down(md) {
                    font-size: 16px;
                }
            }

            .reject-btn {
                padding: 8px 24px;
                border: 1px solid #328090;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 4px;

                }

                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #328090;
                align-items: center;

                @include br-down(md) {
                    font-size: 12px;

                    .icon {
                        width: 16px;
                        height: 16px;
                        margin-bottom: 2px;
                    }
                }
            }

            .approve-btn {
                background: #328090;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                padding: 8px 24px;
                align-items: center;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 4px;
                }

                @include br-down(md) {
                    font-size: 12px;

                    .icon {
                        width: 16px;
                        height: 16px;
                        margin-bottom: 2px;
                    }
                }
            }
        }

        .mb-40px {
            margin-bottom: 40px;
        }

        .post-card-2 {
            @extend .post-card-1;
        }



        .post-modal {
            background: rgba(3, 2, 41, 0.3);


            .modal-dialog {
                max-width: 1440px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .modal-content {
                background: #F8FBFF;
                border: 1px solid #F0F6FD;
                box-shadow: 0px 10px 40px rgba(222, 230, 237, 0.4);
                width: 100%;

                .left-side-content {
                    max-width: 670px;
                    margin-left: auto;
                    margin-right: auto;

                    .card {
                        margin-bottom: 80px;
                        background: #FFFFFF;
                        border: 1px solid #F0F6FD;
                        box-shadow: 0px 10px 40px rgba(161, 166, 172, 0.4);
                        border-radius: 30px;
                    }

                    .btn-outline {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #328090;
                        border: 1px solid #328090;
                        border-radius: 5px;
                        padding: 12px 10px;
                        width: 100%;
                        text-align: center;
                        margin-right: 30px;

                        @include br-down(xl) {
                            font-size: 16px;
                        }

                        @include br-down(sm) {
                            margin-right: 0px;
                            margin-bottom: 20px;
                        }
                    }

                    .btn-success {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #FFFFFF;
                        background: #328090;
                        border-radius: 5px;
                        padding: 12px 10px;
                        width: 100%;
                        text-align: center;

                        @include br-down(xl) {
                            font-size: 16px;
                        }
                    }
                }

                .right-side-content {
                    background: #FFFFFF;
                    padding: 52px 32px;
                    height: 100%;

                    .title {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        letter-spacing: 0.02em;
                        color: #084279;
                        margin-bottom: 26px;

                        @include br-down(lg) {
                            font-size: 20px;
                        }

                    }

                    .form-label {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 38px;
                        color: #425466;
                    }

                    .addCmnt {
                        background: #FFFFFF;
                        border: 1px solid #E8ECF1;
                        border-radius: 6px;
                        padding: 16px;
                        width: 100%;
                        height: 184px;

                        &::placeholder {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 38px;
                            color: #B5B5BD;
                        }
                    }

                    .browser-file-box {
                        background: #F8FAFB;
                        border-radius: 6px;
                        padding: 32px 18px;

                        .file-btn {
                            background: #EF5285;
                            border-radius: 4px;
                            padding: 4px 12px;
                            display: inline-flex;
                            align-items: center;

                            .btn-text {
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 22px;
                                color: #FFFFFF;
                                margin-left: 8px;
                                margin-right: 8px;
                            }
                        }
                    }

                    .btn-cmnt {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;

                        color: #FFFFFF;
                        background: #31B997;
                        border-radius: 10px;
                        padding: 16px;
                        width: 100%;
                        text-align: center;

                        @include br-down(lg) {
                            font-size: 18px;
                        }

                        @include br-down(sm) {
                            font-size: 16px;
                        }
                    }

                    .mb-40px {
                        margin-bottom: 40px;
                    }

                    .mb-106px {
                        margin-bottom: 106px;
                    }
                }
            }
        }
    }
}