@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}

.font-gilroy-light {
  font-family: "Gilroy-Light", sans-serif;
}

.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy {
  font-family: "Gilroy-Regular", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.success-btn {
  background: #31B997;
  border-radius: 6px;
  padding: 16px 24px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.mb-40px {
  margin-bottom: 40px;
}

.form-check {
  margin-right: 56px;
}
.form-check .form-check-label {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-left: 4px;
}
.form-check .form-check-input {
  width: 16px;
  height: 16px;
  border: 1px solid #9DB7D0;
}
.form-check .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C12 15.5817 15.5817 12 20 12V12C24.4183 12 28 15.5817 28 20V20C28 24.4183 24.4183 28 20 28V28C15.5817 28 12 24.4183 12 20V20Z' fill='%23ED5485'/%3E%3Ccircle cx='20' cy='20' r='20' fill='%23EE628F' fill-opacity='0.24'/%3E%3Ccircle cx='20' cy='20' r='4' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 36px 36px;
  background-color: rgba(238, 98, 143, 0.24);
  border-color: rgba(238, 98, 143, 0.24);
  box-shadow: 0px 0px 0px 5px rgba(238, 98, 143, 0.24);
}

.form-check-input:checked {
  background-color: #605BFF;
}

.text-blue-10 {
  color: #1E3E62;
}

.bg-blue-10 {
  background-color: #1E3E62;
}

.text-dark-10 {
  color: #4F4F55;
}

.bg-dark-10 {
  background-color: #4F4F55;
}

.text-pink-10 {
  color: #ED5485 !important;
}

.bg-pink-10 {
  background-color: #ED5485;
}

.bg-pink-20 {
  background-color: #FF92AE;
}

.bg-pink-30 {
  background: #EE628F;
}

.text-gray-10 {
  color: #425466;
}

.bg-primary-10 {
  background-color: #4C6FFF;
}

.text-primary-10 {
  color: #4C6FFF;
}

.text-primary-20 {
  color: #A7B6CD;
}

.text-green-10 {
  color: #31B997;
}

.bg-green-10 {
  background-color: #31B997;
}

.bg-red-10 {
  background-color: #FC3263;
}

.bg-teal-10 {
  background-color: #00D9D9;
}

.bg-purple-10 {
  background-color: #8452ED;
}

.bg-blue-20 {
  background-color: #009EF7;
}

.text-gray-20 {
  color: #A8AEB6 !important;
}

.bg-dark-20 {
  background: #183555;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #637381;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.breadcrumb .breadcrumb-item {
  margin-right: 8px;
  padding-left: 0px;
}
.breadcrumb .breadcrumb-item::before {
  padding-right: 8px;
}
.breadcrumb .breadcrumb-item a {
  color: #637381;
  text-decoration: none;
}

.container {
  padding-right: 16px;
  padding-left: 6px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 576px) {
  .container-fluid {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 130px;
  background: #F6F9FC;
}
.content .header-name {
  background: #FFFFFF;
  padding: 40px 40px 24px 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EDF2F7;
}
.content .header-name .h-title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #084279;
}
.content .btn-outline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4F4F55;
  padding: 14px 36px;
  border: 1px solid #C4CACF;
  border-radius: 6px;
}
.content .btn-Save {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 14px 36px;
  background: #31B997;
  margin-left: 32px;
}
.content .first-content-box {
  background: #FFFFFF;
  padding: 48px 20px 40px 20px;
}
@media (min-width: 992px) {
  .content .first-content-box {
    padding: 68px 68px 40px 40px;
  }
}
.content .first-content-box .form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-right: 20px;
  white-space: nowrap;
}
.content .first-content-box .form-select {
  background-color: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  padding: 10px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}
@media (min-width: 1200px) {
  .content .first-content-box .form-label {
    margin-right: 50px;
  }
}
.content .first-content-box .mb-60px {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .content .first-content-box .mb-60px {
    margin-bottom: 60px;
  }
}
.content .first-content-box .form-label-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 38px;
  color: #425466;
  margin-bottom: 8px;
}
.content .project-info-box {
  background: #FFFFFF;
  padding: 30px 20px 94px 20px;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .content .project-info-box {
    padding: 30px 40px 94px 40px;
  }
}
.content .project-info-box .h-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  margin-bottom: 32px;
}
.content .project-info-box .form-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 38px;
  color: #425466;
}
.content .project-info-box .form-input {
  background: #FFFFFF;
  border: 1px solid #E8ECF1;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  padding: 10px 20px;
}
.content .project-info-box .form-input::-moz-placeholder {
  color: #B5B5BD;
}
.content .project-info-box .form-input:-ms-input-placeholder {
  color: #B5B5BD;
}
.content .project-info-box .form-input::placeholder {
  color: #B5B5BD;
}
.content .project-info-box .mb-40px {
  margin-bottom: 40px;
}
.content .project-info-box .mb-60px {
  margin-bottom: 60px;
}
.content .project-info-box .files {
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
}
.content .project-info-box .file-icon {
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  padding: 8px;
  flex-shrink: 0;
  margin-right: 10px;
}
.content .project-info-box .file-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 0px;
}
.content .project-info-box .file-date {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #A7B0BA;
  margin-bottom: 0px;
}
.content .project-info-box .project-header {
  margin-bottom: 12px;
}
.content .project-info-box .project-header .h-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  margin-bottom: 20px;
}
.content .project-info-box .project-header .h-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  margin-bottom: 4px;
}
.content .project-info-box .project-header hr {
  background-color: #E4E7EC;
  opacity: 1;
}
.content .project-info-box .project-header .btn-edit {
  border: 1px solid #555657;
  border-radius: 6px;
  padding: 18px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  color: #16192C;
  display: flex;
  align-items: center;
}
.content .project-info-box .project-header .btn-edit img {
  margin-right: 8px;
}
.content .project-info-box .projectItemsBox {
  padding: 28px;
  background: #F5F8FB;
  box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.03);
  border-radius: 8px;
}
.content .project-info-box .projectItemsBox .bg-indigo {
  background: #623CE7;
}
.content .project-info-box .projectItemsBox .bg-yellow {
  background-color: #FFAF2A;
}
.content .project-info-box .projectItemsBox .p-tile-area {
  margin-right: 16px;
  margin-bottom: 35px;
}
.content .project-info-box .projectItemsBox .p-tile-area .items-icon {
  width: 52px;
  height: 52px;
  border-radius: 99999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-right: 20px;
}
.content .project-info-box .projectItemsBox .p-tile-area .p-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  color: #000000;
}
.content .project-info-box .projectItemsBox .p-tile-area .p-qty {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px;
  color: #31B997;
}
@media (max-width: 1199.98px) {
  .content .project-info-box .projectItemsBox .p-tile-area .items-icon {
    width: 44px;
    height: 44px;
    font-size: 16px;
    line-height: 24px;
  }
  .content .project-info-box .projectItemsBox .p-tile-area .p-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
  }
  .content .project-info-box .projectItemsBox .p-tile-area .p-qty {
    font-size: 14px;
    line-height: 20px;
  }
}
.content .project-info-box .projectItemsBox .p-date-area {
  margin-right: 16px;
}
.content .project-info-box .projectItemsBox .p-date-area .p-icon {
  width: 14px;
  margin-right: 8px;
}
.content .project-info-box .projectItemsBox .p-date-area .p-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #8A8B8E;
}
@media (min-width: 1200px) {
  .content .project-info-box .projectItemsBox .p-date-area .p-date {
    font-size: 20px;
    line-height: 24px;
  }
}
.content .project-info-box .projectItemsBox .p-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #EE628F;
  margin-right: 16px;
}
@media (min-width: 1200px) {
  .content .project-info-box .projectItemsBox .p-price {
    font-size: 24px;
    line-height: 29px;
  }
}
.content .project-info-box .projectItemsBox .p-commitment .i-circle {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.content .project-info-box .projectItemsBox .p-commitment .form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8A8B8E;
  margin-right: 16px;
}
@media (min-width: 1200px) {
  .content .project-info-box .projectItemsBox .p-commitment .form-label {
    font-size: 20px;
    line-height: 24px;
    margin-right: 28px;
  }
}
.content .project-info-box .projectItemsBox .p-commitment .form-check2 .form-check-input {
  width: 40px;
  height: 22px;
}
.content .project-info-box .projectItemsBox .itemsBoxArea {
  padding-left: 6px;
  padding-right: 6px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea hr {
  background: #E4E7EC;
  opacity: 1;
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box {
  padding: 20px 8px;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box {
    padding: 20px 20px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box {
    padding: 28px 32px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #31B997;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .title {
    font-size: 20px;
    line-height: 25px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .sub-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  color: #4F4F55;
  margin-bottom: 0px;
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .sub-title span {
  color: #31B997;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .sub-title {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .product-name .sub-title {
    font-size: 16px;
    line-height: 25px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-label {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8A8B8E;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-label {
    font-size: 18px;
    line-height: 24px;
    margin-right: 14px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-label {
    font-size: 20px;
    line-height: 24px;
    margin-right: 16px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-select {
  padding: 10px 28px 10px 13px;
  border: 1px solid #D0D5DD;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #344054;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-select {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 35px 10px 13px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .qtyForm .form-select {
    font-size: 16px;
    line-height: 20px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #31B997;
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .price {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .price {
    font-size: 20px;
    line-height: 24px;
  }
}
.content .project-info-box .projectItemsBox .itemsBoxArea .item-box .trash-icon {
  width: 24px;
}
@media (min-width: 576px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .trash-icon {
    width: 30px;
  }
}
@media (min-width: 768px) {
  .content .project-info-box .projectItemsBox .itemsBoxArea .item-box .trash-icon {
    width: 40px;
  }
}
.content .project-info-box .projectItemsBox .extra-inputCheck {
  position: absolute;
  bottom: -16px;
  left: 28px;
}
.content .project-info-box .extraInputCheckTop {
  transform: translateY(-10px);
}
.content .paymentLink-model {
  max-width: 780px;
  padding-left: 12px;
  padding-right: 12px;
}
.content .paymentLink-model .paymentLink-model-content {
  border-radius: 16px;
  background-color: #fff;
  padding: 58px 38px;
}
@media (min-width: 768px) {
  .content .paymentLink-model .paymentLink-model-content {
    padding: 8px 8px 8px 38px;
  }
}
.content .paymentLink-model .paymentLink-model-content .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 136.02%;
  color: #16192C;
}
@media (min-width: 768px) {
  .content .paymentLink-model .paymentLink-model-content .title {
    font-size: 28px;
  }
}
.content .paymentLink-model .paymentLink-model-content .link-primary {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.02%;
  color: #1D80FF;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px;
}
@media (min-width: 576px) {
  .content .paymentLink-model .paymentLink-model-content .link-primary {
    max-width: 580px;
  }
}
.content .paymentLink-model .paymentLink-model-content .button-area {
  padding: 65px 52px;
  background: rgba(247, 248, 253, 0.9);
  border-radius: 14px;
}
@media (min-width: 768px) {
  .content .paymentLink-model .paymentLink-model-content .button-area {
    margin-left: auto;
  }
}
.content .paymentLink-model .paymentLink-model-content .button-area .btn-openlink {
  background: #31B997;
  border-radius: 8px;
  padding: 16px 22px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.content .paymentLink-model .paymentLink-model-content .button-area .btn-openlink svg {
  margin-left: 8px;
}
.content .modal-edit {
  height: 100vh;
  padding: 50px 16px;
}
.content .modal-edit .modal-dialog {
  max-width: 100vw;
}
.content .modal-edit .modal-dialog .modal-content {
  border-radius: 5px 5px 0px 0px;
}
.content .modal-edit .modal-dialog .modal-header {
  background: #31B997;
  border-radius: 5px 5px 0px 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-header {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
.content .modal-edit .modal-dialog .modal-header .modal-title {
  line-height: 112%;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-header .modal-title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-header .modal-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-header .modal-title {
    font-size: 36px;
  }
}
.content .modal-edit .modal-dialog .modal-body {
  padding-top: 55px;
}
.content .modal-edit .modal-dialog .modal-body .c-title {
  line-height: 112%;
  text-align: center;
  color: #212B36;
  margin-bottom: 60px;
  font-size: 24px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .c-title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .c-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .c-title {
    font-size: 36px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area {
    margin-bottom: 120px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-item {
  border: 0px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header {
  background: transparent;
  border: 2px solid #328090;
  border-radius: 15px;
  padding: 12px 16px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header {
    padding: 18px 40px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .com-check {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .com-check {
    margin-right: 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .com-check:checked {
  background-color: #038090;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .title {
  font-family: "Gilroy-Bold";
  line-height: 150%;
  color: #038090;
  font-size: 16px;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .title {
    font-size: 22px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .sub-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #979797;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .sub-title {
    font-size: 14px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .accordion-button {
  width: 36px;
  height: 36px;
  min-height: 36px;
  padding: 0px;
  border-radius: 8999px;
  box-shadow: none;
  background: #E7F7FD;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s ease-in-out;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .accordion-button::after {
  display: none;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-header .accordion-button:not(.collapsed) {
  background-image: none;
  transform: rotate(-180deg);
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body {
  padding: 14px 2px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body {
    padding: 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area {
  width: 100%;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area {
    margin-bottom: 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox {
  width: 100%;
  padding: 30px 12px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox {
    padding: 30px 24px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox {
    padding: 30px 32px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  background: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box {
    padding: 0px 24px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box {
    padding: 0px 32px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .label {
  font-family: "Gilroy-Bold";
  font-size: 12px;
  line-height: 150%;
  color: #212B36;
  position: relative;
  z-index: 1;
  margin-left: 28px;
  margin-bottom: 0px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .label {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .label {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .label {
    font-size: 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .form-select {
  border-color: #DADADA;
  padding: 8px 12px 8px 8px;
  width: 100px;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.31063 6L0.371094 0H10.2502L5.31063 6Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-size: 12px 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .form-select {
    width: 160px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 30px 10px 10px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .form-select {
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 30px 12px 12px;
    width: 130px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #637381;
  margin-left: 6px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price span {
  font-family: "Gilroy-Medium";
  font-size: 10px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price {
    font-size: 16px;
    margin-left: 24px;
  }
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price span {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price {
    font-size: 18px;
    margin-left: 24px;
  }
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price span {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price {
    font-size: 20px;
    margin-left: 40px;
  }
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox .bg-box .price span {
    font-size: 16px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input {
  position: relative;
  z-index: 1;
  margin-bottom: 4px;
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input {
    width: 20px;
    height: 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_12603' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='19'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0.333313H16C17.11 0.333313 18 1.23331 18 2.33331V16.3333C18 17.4333 17.11 18.3333 16 18.3333H2C0.89 18.3333 0 17.4333 0 16.3333V2.33331C0 1.23331 0.89 0.333313 2 0.333313ZM2 9.33331L7 14.3333L16 5.33331L14.59 3.91331L7 11.5033L3.41 7.92331L2 9.33331Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_12603)'%3E%3Crect x='-3' y='-2.66669' width='24' height='24' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: fill;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input:checked + .bg-box {
  background-color: #038090;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input:checked + .bg-box .label {
  color: #fff;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input:checked + .bg-box .form-select {
  border-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.31063 6L0.371094 0H10.2502L5.31063 6Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 12px 9px;
  color: #fff;
  background-color: #038090;
}
.content .modal-edit .modal-dialog .modal-body .products-area .community-manage .accordion-body .postbox-area .post-checkbox input:checked + .bg-box .price {
  color: #fff;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area {
  background: rgba(30, 165, 131, 0.05);
  border-radius: 20px;
  padding: 20px 6px 0px 6px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area {
    padding: 34px 16px 0px 16px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area {
    padding: 24px 10px 0px 10px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area {
    padding: 44px 22px 0px 22px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 14px 8px;
  margin-bottom: 36px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box {
    padding: 26px 16px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box {
    padding: 26px 10px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box {
    padding: 26px 20px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select {
  padding-bottom: 6px;
  border-bottom: 0.358227px solid #E0E0E0;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select .arrow {
  opacity: 0.5;
  transition: 0.1s ease-in-out;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select .arrow:hover {
  opacity: 1;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select .year {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select .year {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .year-select .year {
    font-size: 22px;
    line-height: 26px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select {
  padding: 7px 8px 14px 8px;
  border-bottom: 0.358227px solid #E0E0E0;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select {
    padding: 7px 15px 14px 16px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 {
  padding: 7px 4px;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 {
    padding: 7px 8px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 {
    padding: 7px 4px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 {
    padding: 7px 15px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 .mnt-box {
  position: relative;
  width: 100%;
  height: 40px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 .mnt-box input {
  display: none;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 .mnt-box .label {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 18px;
  color: #5F5F5F;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 .mnt-box .label {
    font-size: 16px;
    line-height: 19px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .month-select .col-4 .mnt-box input:checked + .label {
  color: #fff;
  background: #328090;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .form-check2 {
  padding: 26px 6px;
  margin-bottom: 6px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .form-check2 .form-check-input {
  width: 24px;
  height: 24px;
  border-color: #DADADA;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .form-check2 .form-check-input:checked {
  background-color: #328090;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .form-check2 .form-check-label {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-left: 12px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-outline {
  border: 1px solid #328090;
  border-radius: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px 35px;
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 150%;
  color: #328090;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-outline {
    font-size: 18px;
    padding: 12px 35px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-outline {
    font-size: 20px;
    padding: 14px 35px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-add {
  border: 1px solid #328090;
  border-radius: 6px;
  background-color: #328090;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px 48px;
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
@media (min-width: 576px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-add {
    font-size: 18px;
    padding: 12px 48px;
  }
}
@media (min-width: 1200px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .calender-box .cl-btns .btn-add {
    font-size: 20px;
    padding: 14px 48px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box {
  border: 1px dashed #328090;
  border-radius: 5px;
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .title-area {
  margin-bottom: 16px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .title-area .month-name {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .title-area .month-name {
    font-size: 22px;
    line-height: 17px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .title-area .close-btn img {
  width: 24px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .tags {
  margin-left: -5px;
  margin-right: -5px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .tags .tag {
  background: #EEFCFF;
  border-radius: 552px;
  padding: 8px 16px;
  margin: 9px 5px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .tags .tag .tag-name {
  font-family: "Gilroy-Regular";
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  margin-right: 5px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .tags .tag .tag-name {
    font-size: 14px;
    line-height: 17px;
  }
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .tag-box .tags .tag .close-btn img {
  width: 16px;
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .create-mission-btn {
  text-align: center;
  transform: translateY(25px);
}
.content .modal-edit .modal-dialog .modal-body .products-area .calender-area .create-mission-btn .btn {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 12px 54px;
  background: #328090;
  border-radius: 8px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .title {
  font-family: "Gilroy-Bold";
  font-size: 28px;
  line-height: 112%;
  text-align: center;
  color: #212B36;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .title {
    font-size: 32px;
    margin-bottom: 66px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .title {
    font-size: 36px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .card-mission {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 16px;
  padding: 24px 20px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .header-card {
  margin-bottom: 30px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .header-card .bar {
  width: 2px;
  height: 32px;
  margin-right: 16px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .header-card .bar-red {
  background-color: #F3085C;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .header-card .bar-green {
  background-color: #04A0F8;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .header-card .title {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  line-height: 30px;
  color: #0B0914;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .header-card .title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 992px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .header-card .title {
    font-size: 28px;
    line-height: 40px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item {
  border: 0;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .icon {
  width: 18px;
  flex-shrink: 0;
  margin-right: 10px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .title {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 20px;
  color: #35353F;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .title {
    font-size: 18px;
    line-height: 21px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .price {
  font-family: "Gilroy-Bold";
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #EE628F;
  margin-bottom: 0px;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .price span {
  font-family: "Gilroy-Medium";
  font-size: 10px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .price {
    font-size: 14px;
    line-height: 21px;
  }
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-body .items .price span {
    font-size: 12px;
    line-height: 21px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header {
  background: transparent;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header hr {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F1F1F1;
  opacity: 1;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .title {
  margin-bottom: 0px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .title {
    font-size: 22px;
    line-height: 40px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .price {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  line-height: 32px;
  color: #ED5485;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .price span {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .price {
    font-size: 28px;
    line-height: 40px;
  }
  .content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .total .price span {
    font-size: 18px;
    line-height: 40px;
  }
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .accordion-button {
  width: 64px;
  height: 48px;
  border: 1px solid #038090;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 0px;
  color: #038090;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .accordion-button img {
  width: 32px;
  transition: all 0.2s ease-in-out;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header .accordion-button::after {
  display: none;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header:not(.collapsed) .accordion-button {
  color: #fff;
  background: #038090;
}
.content .modal-edit .modal-dialog .modal-body .summary-area .body-card .accordion .accordion-item .accordion-header:not(.collapsed) .accordion-button svg {
  color: #fff;
  transform: rotate(-180deg);
}/*# sourceMappingURL=productMissionCreation.css.map */