@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.font-gilroy-bold {
  font-family: 'Gilroy-Bold', sans-serif;
}

.font-gilroy-heavy {
  font-family: 'Gilroy-Heavy', sans-serif;
}

.font-gilroy-light {
  font-family: 'Gilroy-Light', sans-serif;
}

.font-gilroy-medium {
  font-family: 'Gilroy-Medium', sans-serif;
}

.font-gilroy {
  font-family: 'Gilroy-Regular', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.success-btn {
  background: #31B997;
  border-radius: 6px;
  padding: 16px 24px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.mb-40px {
  margin-bottom: 40px;
}

.text-blue-10 {
  color: #1E3E62;
}

.bg-blue-10 {
  background-color: #1E3E62;
}

.text-dark-10 {
  color: #4F4F55;
}

.bg-dark-10 {
  background-color: #4F4F55;
}

.text-pink-10 {
  color: #ED5485;
}

.bg-pink-10 {
  background-color: #ED5485;
}

.bg-pink-20 {
  background-color: #FF92AE;
}

.text-gray-10 {
  color: #425466;
}

.bg-primary-10 {
  background-color: #4C6FFF;
}

.text-green-10 {
  color: #31B997;
}

.breadcrumb {
  font-size: 16px;
  line-height: 19px;
  color: #637381;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.breadcrumb .breadcrumb-item {
  margin-right: 8px;
  padding-left: 0px;
}

.breadcrumb .breadcrumb-item::before {
  padding-right: 8px;
}

.breadcrumb .breadcrumb-item a {
  color: #637381;
  text-decoration: none;
}

.header {
  -webkit-box-shadow: 0px 4px 70px 5px rgba(195, 197, 205, 0.9);
          box-shadow: 0px 4px 70px 5px rgba(195, 197, 205, 0.9);
}

@media (min-width: 992px) {
  .header .navbar-top {
    border-bottom: 1px solid rgba(195, 197, 205, 0.09);
  }
}

.header .dropdown-toggle::after {
  display: none;
}

.header .logo {
  width: 108px;
}

@media (min-width: 992px) {
  .header .logo {
    width: 135px;
  }
}

.header .navbar-collapse {
  background-color: #183555;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  margin-top: 70px;
}

@media (min-width: 576px) {
  .header .navbar-collapse {
    margin-top: 70px;
  }
}

@media (min-width: 768px) {
  .header .navbar-collapse {
    margin-top: 70px;
  }
}

@media (min-width: 992px) {
  .header .navbar-collapse {
    position: static;
    width: auto;
    padding: 0px;
    margin-top: 0px;
    background-color: transparent;
  }
}

.header .menus {
  font-family: 'Gilroy-Medium', sans-serif;
}

@media (min-width: 992px) {
  .header .menus {
    position: relative;
  }
}

.header .menus .nav-item .nav-link {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 10px;
}

@media (min-width: 1200px) {
  .header .menus .nav-item .nav-link {
    padding: 16px 16px;
    font-size: 13px;
  }
}

.header .menus .nav-item .nav-link .menu-icon {
  width: 20px;
  margin-right: 6px;
}

@media (min-width: 1200px) {
  .header .menus .nav-item .nav-link .menu-icon {
    width: 24px;
    margin-right: 14px;
  }
}

.header .menus .nav-item .nav-link:hover, .header .menus .nav-item .nav-link.active {
  background-color: #3B5673;
  border-radius: 4px;
}

.header .language {
  background-color: #3AB67D;
  border-radius: 4px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 12px;
  padding: 2px 8px;
}

@media (min-width: 576px) {
  .header .language {
    padding: 6px 12px;
  }
}

@media (min-width: 768px) {
  .header .language {
    font-size: 14px;
  }
}

.header .noti-badge {
  background: #3AB67D;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  font-family: 'Gilroy-Bold', sans-serif;
  padding: 4px 8px;
}

.header .profile-dropdown {
  font-family: 'Gilroy-Bold', sans-serif;
  color: #687A92 !important;
  font-size: 13px;
}

.header .profile-dropdown .profile-icon {
  width: 32px;
  height: 32px;
}

@media (min-width: 576px) {
  .header .profile-dropdown .profile-icon {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 768px) {
  .header .profile-dropdown .profile-icon {
    width: 37px;
    height: 37px;
  }
}

@media (min-width: 1200px) {
  .header .profile-dropdown .profile-icon {
    width: 46px;
    height: 46px;
  }
}

.header .dropdown .dropdown-toggle.show, .header .dropdown .dropdown-toggle:hover {
  color: #0d6efd !important;
}

.header .mission-cms-translation-btn {
  background-color: #3ab67d;
  height: 36px;
  border-radius: 4px;
}

.allLeadPage {
  background: #F6F9FC;
  padding-top: 30px;
}

.allLeadPage.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .allLeadPage.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .allLeadPage.container-fluid {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.allLeadPage .filter {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px 24px;
}

@media (min-width: 992px) {
  .allLeadPage .filter {
    padding: 40px 44px 35px 44px;
  }
}

.allLeadPage .filter .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #084279;
}

.allLeadPage .filter .search .input-group {
  margin-right: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
}

@media (min-width: 576px) {
  .allLeadPage .filter .search .input-group {
    margin-right: 24px;
  }
}

@media (min-width: 992px) {
  .allLeadPage .filter .search .input-group {
    min-width: 264px;
    margin-right: 32px;
  }
}

.allLeadPage .filter .search .input-group .input-group-text {
  background: #D4D4D4;
  border-radius: 6px;
  padding: 8px 14px;
  margin-right: -4px;
}

.allLeadPage .filter .search .input-group .form-control {
  border: 1px solid #C4CACF;
  border-left: 0px;
  margin-left: -4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9599A5;
  font-size: 12px;
  font-family: 'Gilroy-Medium', sans-serif;
}

.allLeadPage .filter .search .input-group .form-control::-webkit-input-placeholder {
  color: #9599A5;
  opacity: 0.7;
}

.allLeadPage .filter .search .input-group .form-control:-ms-input-placeholder {
  color: #9599A5;
  opacity: 0.7;
}

.allLeadPage .filter .search .input-group .form-control::-ms-input-placeholder {
  color: #9599A5;
  opacity: 0.7;
}

.allLeadPage .filter .search .input-group .form-control::placeholder {
  color: #9599A5;
  opacity: 0.7;
}

.allLeadPage .filter .search .success-btn {
  background: #31B997;
  border-radius: 6px;
  padding: 12px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allLeadPage .filter .search .success-btn svg {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 8px;
}

.allLeadPage .filter .search .outline-btn {
  border: 1px solid #D0D5DD;
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allLeadPage .filter .search .outline-btn svg {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 8px;
}

.allLeadPage .filter .checkboxs {
  margin-top: 20px;
}

.allLeadPage .filter .checkboxs .check-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #D8D6DE;
  border-radius: 5px;
  padding: 10px 14px;
  margin-right: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.allLeadPage .filter .checkboxs .check-btn .form-check-input {
  width: 18px;
  height: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0px;
}

.allLeadPage .filter .checkboxs .check-btn .form-check-input:checked {
  background-color: #31B997 !important;
  border-color: #31B997 !important;
}

.allLeadPage .filter .checkboxs .check-btn .form-check-label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #5E5873;
  margin-top: 1px;
  margin-left: 8px;
}

.allLeadPage .filter .checkboxs .btn-hideShow {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #31B997;
  padding: 10px 24px;
  background: rgba(49, 185, 151, 0.2);
  border: 1px solid #31B997;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .allLeadPage .filter .checkboxs .btn-hideShow {
    margin-left: 38px;
  }
}

.container {
  padding-right: 16px;
  padding-left: 6px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
}

.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.pimido {
  background: url("../images/b-1.png") top left no-repeat, url("../images/b-2.png") bottom right no-repeat;
  background-color: #ffffff;
  background-size: 50%;
}

.pimido .header .logo {
  width: 200px !important;
}

.pimido .header {
  background: #183555 !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(195, 197, 205, 0.9);
          box-shadow: 0px 0px 0px 0px rgba(195, 197, 205, 0.9);
}

.pimido .content {
  background: transparent;
  padding-top: 0px;
}

.pimido .container {
  width: 690px;
}

.pimido h4 {
  font-weight: 700;
  font-size: 18px;
}

.banner {
  text-align: center;
  position: relative;
}

.pimido .banner img {
  width: 100%;
}

.white-box {
  background: #fff;
  position: absolute;
  bottom: -56px;
  width: 94%;
  margin: 0px auto;
  padding: 23px;
  left: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 1px 90px 1px rgba(195, 197, 205, 0.44);
          box-shadow: 0px 1px 90px 1px rgba(195, 197, 205, 0.44);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pimido .container {
  padding-right: 15px;
  padding-left: 15px;
}

.left-heding p {
  text-transform: uppercase;
  color: #111118;
  font-size: 12px;
  text-align: left;
  margin-bottom: 12px;
}

.right-heding {
  text-align: left;
}

.right-heding p {
  text-transform: uppercase;
  color: #111118;
  font-size: 12px;
  text-align: left;
  margin-bottom: 12px;
}

.right-heding h4 {
  font-weight: 700;
  font-size: 12px;
}

.right-heding span {
  font-weight: 500;
  font-size: 12px;
}

.main-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #6f6f84;
  font-family: "Montserrat", sans-serif;
}

.m-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #222234;
  font-family: "Montserrat", sans-serif;
}

.s-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #060606;
  font-family: "Montserrat", sans-serif;
}

.s-title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
}

.b-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #038090;
  font-family: "Montserrat", sans-serif;
}

.pimido .tb-box {
  margin-top: 90px;
}

.p-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .pimido .container {
    width: 100%;
  }
}

.post-status {
  color: #07a287 !important;
  background: #ebf8f5;
  text-align: center;
  border-radius: 4px;
  padding: 4px 0px;
}

.post-status-draft {
  color: #344054 !important;
  background: #f2f4f7;
  text-align: center;
  border-radius: 4px;
  padding: 4px 0px;
}
/*# sourceMappingURL=style.css.map */